<div id="add-ons" class="wrapper background__white spacing--padding-bottom__xxx-large">
		<div class="wrapper__inner ">
			<h2 class="font--h2__medium color__secondary font--family__primary">Add-ons</h2>
			<p class="color__tertiary font--family__primary font--copy__medium">Add-ons are optional and will give you even greater flexibility and control over your clinic.</p>


			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Online Patient Bookings (requires desktop interface)</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">$10 per practitioner per month (ex. GST)</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">$11 inc. GST</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Multi Location</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">$6 per practitioner per month (ex. GST)</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">$6.60 inc. GST</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Classes (requires desktop interface)</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">$3 per practitioner per month (ex. GST)</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">$3.30 inc. GST</span>
					</div>
				</div>
			</div>
		</div>
	</div>
