<div id="pay-per-click" class="wrapper background__white spacing--padding-bottom__xxx-large">
		<div class="wrapper__inner ">
			<h2 class="font--h2__medium color__secondary font--family__primary">Pay per click</h2>
			<p class="color__tertiary font--family__primary font--copy__medium">All TM3 Pay Per Click Services are included in your TM3 package. Just remember to ask for them to be set up for you when you are purchasing TM3 and you will only pay when you use them.</p>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Text Messaging</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">$0.19 per text (ex. GST)</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">$0.21 inc. GST</span>
					</div>
				</div>
			</div>
		</div>
</div>
