<div class="wrapper  wrapper__shadow-bottom wrapper__sub-navigation spacing--padding-bottom__medium">
		<div class="wrapper wrapper__inner latch">
			<nav class="cols-x-spec centered subpage">
				<div class="cols-x-spec__1">
					<a href="/tour/attract-patients/" title="" class="icon__subnav icon__subnav__patient-journey display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium active-sub"><span>ATTRACT PATIENTS</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/reception/" title="" class="icon__subnav icon__subnav__reception display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>RECEPTION</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/clinical-notes/" title="" class="icon__subnav icon__subnav__clinical-experience display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>CLINICAL EXPERIENCE</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/practice-management/" title="" class="icon__subnav icon__subnav__practice-management display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>PRACTICE MANAGEMENT</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/communication/" title="" class="icon__subnav icon__subnav__referrals display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>COMMUNICATION</span></a>
				</div>
			</nav>
		</div>
</div>

{{ if eq .Site.LanguageCode "en-GB" }}
	<div class="wrapper background__white spacing--padding-top__xxx-large">
		<div class="wrapper__inner ">
			<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
				<div class="cols-2-spec__1 centered__vertically ">
					<h2 class="font--family__primary color__secondary font--h2__medium">Pronto</h2>
					<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">With Pronto, you can receive referrals from major insurance companies and online directories such as BUPA, Physio First and PhysioMed direct into your diary, eliminating admin and lengthy payments. Join the revolution, PRONTO. </p>
				</div><!--
				--><div class="cols-2-spec__1 ">
					<img src="/images/uploads/tour/tour-pj-pronto.jpg" alt="Pronto" />
				</div>
			</div>
		</div>
	</div>
{{ else }}
{{ end }}

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
				<h2 class="font--family__primary color__secondary font--h2__medium">Online Bookings</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">With people today living in a fast paced world and shift work now the norm, it doesn't always suit patients to call you during normal clinic hours. Online Bookings opens your clinic to receiving bookings 24/7 whilst eliminating tedious administration.</p>
			</div><!--
			--><div class="cols-2-spec__1 float__left__desktop">
				<img src="/images/uploads/tour/tour-pj-online-bookings.jpg" alt="Online Bookings" />
			</div>
		</div>
	</div>
</div>


<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper wrapper__inner ">
		<div class="wrapper">
			<div class="cols-3 cols-2 spacing--padding-bottom__xxx-large">
				<div class="cols-3__1 cols-3__1-2">
					<div class=""><img src="/images/uploads/tour/tour-pj-new-patients.jpg" alt="Create New Patients" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">New Patients</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">With TM3, you can create a new patient, whilst creating their booking. Awesome, isn’t it?!</p>
			</div><!--
			--><div class="cols-3__1 cols-3__1-2">
				<div class=""><img src="/images/uploads/tour/tour-pj-diary.jpg" alt="Diary" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Diary</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">Easily manage all your new appointments with TM3’s beautifully designed diary.</p>
			</div><!--
			--><div class="cols-3__1 cols-3__1-2">
				<div class=""><img src="/images/uploads/tour/tour-pj-reports.jpg" alt="Reports" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Reports</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">TM3 reports provide you with beautiful charts to help you show off your new patient rates.</p>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>


{{ if eq .Site.LanguageCode "en-GB" }}
	<div class="wrapper background__white spacing--padding-top__xxx-large">
		<div class="wrapper__inner ">
			<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large">
				<div class="cols-2-spec__1">
					<h2 class="font--family__primary color__secondary font--h2__medium">24/7 Reception</h2>
					<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Whether you have no receptionist, or you are missing valuable appointments due to your busy phone line, 24/7 Reception is the solution. TM3 24/7 Reception is the only reception service in the industry whose staff are fully trained in clinic operations and available 24/7.</p>
				</div><!--
				--><div class="cols-2-spec__1 ">
					<img src="/images/uploads/tour/tour-pj-247-reception.jpg" alt="24/7 Reception" />
				</div>
			</div>
		</div>
	</div>
{{else}}
{{end}}

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
				<h2 class="font--family__primary color__secondary font--h2__medium">Text</h2>
				{{ if eq .Site.LanguageCode "en-GB" }}
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">TM3 is setup with automatic text reminders to help combat the menacing DNA.
				Even better, set up automatic notifications that let clients know whenever someone cancels and a spot from the waiting list opens up. This simple feature can reduce your DNAs by up to 90%! </p>
				{{ else }}
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">TM3 includes text reminders to help combat the menacing DNA. This simple feature can reduce your DNAs by up to 90%!</p>
				{{ end}}
			</div><!--
			--><div class="cols-2-spec__1 float__left__desktop">
				<img src="/images/uploads/tour/tour-pj-text-boxing.jpg" alt="Text reminders" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
<img src="/images/uploads/testimonial/tom-fielding.jpg" alt="Tom Fielding" class="blockquote__banner"/>
<div class="wrapper wrapper__inner centered__vertical">
	<div class="cols-1 ">
			<div class="wrapper cols-1__halved icon__quote__full-banner float__right">
			<blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Since moving to a practice management system filing and storage are major headaches I don’t have to worry about whilst running a busy clinic. What seemed to be a small change in the near term has added up to make significant benefits in the long term.</blockquote>
			<p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Tom Fielding, Osteopath at Hub Health</p>
			<a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
		</div>
	</div>
</div>
</div>
