{{ partial "head" . }}
<body>
<div class="video-wrapper">
		<div class="video-popup">
			<div class="video-wrapper__close"></div>
			<iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{{ partial "navigation"  (dict "logo" "white") }}
	<div class="wrapper wrapper__master">

	    <div class="wrapper wrapper__headline__medium" style="background-image:url('/images/header/attract-patients.jpg'); background-repeat:no-repeat; background-position: center center; background-size: cover;">
	    	<div class="wrapper__headline__blue"></div>
	        <div class="wrapper wrapper__inner centered__vertical ">
	        	<div class="max--width__headline--top  centered margin__default">
	        		<h1 class="color__white font--family__secondary font--h2__medium">Attract Patients</h1>
	        		<p class="color__white font--family__primary font--strapline__medium">One of the biggest challenges clinics face is growing its customer base. TM3 provides you with the tools you need to connect and attract patients 24/7</p>
	        	</div>
	        </div>
	    </div>
