<div class="wrapper background__white spacing--padding-top__xxx-large">
		<div class="wrapper__inner ">
			<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large">
				<div class="cols-2-spec__1">
					<div class="video wrapper">
						<a href="https://player.vimeo.com/video/203472920" title="" class="play-video">
							<div class="video__bg-overlay"></div>
							<div class="video__overlay"></div>
							<img src="/images/uploads/why-tm3/why-tm3-multi-device.jpg" alt="Multi Device Functionality" />
						</a>
					</div>
				</div><!--
				--><div class="cols-2-spec__1 display__inline__middle">
					<h2 class="font--family__primary color__secondary font--h2__medium">Practice anywhere, at anytime with power and intelligence</h2>
					<p class="color__tertiary font--family__primary font--copy__medium">TM3 is modern and intuitive private practice software that helps streamline your day, so you spend less time on administration and more time treating patients.
					TM3 allows you to run your clinic on multiple devices with seamless integration between platforms. Whether you are a Physiotherapist, Chiropractor, Podiatrist or Osteopath, TM3 provides you with the tools to practice with freedom. </p>
				</div>
			</div>
		</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
		<div class="wrapper__inner ">
			<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large float">
				<div class="cols-2-spec__1 float__right__desktop">
					<img src="/images/uploads/why-tm3/why-tm3-safe-hands.jpg" alt="Secure Private Practice Software" />
				</div><!--
				--><div class="cols-2-spec__1 centered__vertically  float__left__desktop">
					<h2 class="font--family__primary color__secondary font--h2__medium">You're in safe hands with TM3</h2>
					<p class="color__tertiary font--family__primary font--copy__medium">
						{{ if eq .Site.LanguageCode "en-GB" }}
							With TM3, you have the security of a hosted system, with all data stored on TM3’s servers in the UK (data centres certified with ISO 27001 and ISO 9001).
							Up to date, SQL server database technology combined with encrypted VPN services gives users the highest levels of security available.
							In addition, all data is automatically backed up for you. This is invaluable, as the inconvenience and cost associated with the loss of data can be extensive.
						{{ else }}
							With TM3, you have the security of a hosted system, with all data stored on Microsoft Azure servers in Australia (ASD Certified Cloud Services List (CCSL)).
							Up to date, SQL server database technology combined with encrypted VPN services gives users the highest levels of security available.
							In addition, all data is automatically backed up for you. This is invaluable, as the inconvenience and cost associated with the loss of data can be extensive.
						{{ end }}
					</p>
				</div>
			</div>
		</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
		<div class="wrapper__inner">
			<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large">
				<div class="cols-2-spec__1">
					<img src="/images/uploads/why-tm3/why-tm3-training.jpg" alt="TM3 training" />
				</div><!--
				--><div class="cols-2-spec__1 display__inline__middle">
					<h2 class="font--family__primary color__secondary font--h2__medium">TM3 supports your development</h2>
					<p class="color__tertiary font--family__primary font--copy__medium">Your development with TM3 private practice software is extremely important to us.
					From the very beginning, you will have your own personal implementation buddy who will guide you through the software.
					As you develop with the software you will have the chance to participate in our weekly free webinars and training, aimed at making you and your colleagues experts in everything TM3.</p>
				</div>
			</div>
		</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>
<div class="wrapper background__white spacing--padding-top__xxx-large">
			<div class="wrapper__inner ">
				<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large float">
					<div class="cols-2-spec__1 float__right__desktop">
						<img src="/images/uploads/why-tm3/why-tm3-imac-and-ipad-with-reports.jpg" alt="Private practice software committed to your success" />
					</div><!--
					--><div class="cols-2-spec__1 centered__vertically  float__left__desktop">
						<h2 class="font--family__primary color__secondary font--h2__medium">Private practice software committed to your success</h2>
						<p class="color__tertiary font--family__primary font--copy__medium">TM3 is based on shared success, which means we are fully invested in helping you grow and ensuring your practice succeeds.
						Everything we do as an organisation, from development to support, is designed to help you manage your practice better and grow clinic revenue.
						The TM3 Customer Support, Implementation, and Sales teams are at your service to provide the consultative advice and support you need to succeed.</p>
					</div>
				</div>
			</div>
	</div>

	<div class="wrapper background__senary">
				<div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__xxxx-large">
					<div class="max--width__headline centered margin__default">
						<h1 class="font--family__primary color__secondary font--h2__medium spacing--padding-bottom__small">Innovative features built with your practice in mind</h1>
						<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
						Whether you are a big clinic, small clinic, a Physiotherapist, Osteopath, Chiropractor, or Podiatrist, TM3 can provide you with the tools to help your practice succeed in a competitive market.
						TM3 is a practice management system that was designed with the practitioner in mind.</p>
						<a href="/tour/" title="" class="font--extra__small btn btn__tertiary">TAKE A TOUR OF TM3</a>
					</div>
				</div>
		</div>




<div class="wrapper wrapper__blockquote__medium  background__secondary">
		<img src="/images/uploads/testimonial/rupert-clements.jpg" alt="Rupert Clements" class="blockquote__banner"/>
		<div class="wrapper wrapper__inner centered__vertical">
			<div class="cols-1 ">
					<div class="wrapper cols-1__halved icon__quote__full-banner">
					<blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Blue Zinc support has been great – it’s been available when I’ve needed it and quiet when I’ve not.
					It’s even had time to discuss the weather in Belfast when I’ve phoned.</blockquote>
					<p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Rupert Clements, Chiropractor at C1</p>
					<a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
				</div>
			</div>
		</div>
</div>
