<div class="wrapper background__white spacing--padding-top__x-large">
    <div class="wrapper__inner ">
    <div class="cols-2">
      <div class="cols-2__1-1 spacing--padding-bottom__x-large centered">
        <img src="/images/uploads/team/directors.jpg" alt="TM3 Directors" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Directors</h2>
        <p class="font--family__primary font--copy__small color__tertiary">Kyle Lunn, Ronnie Johnston, and Colette Pennick (sales director) lead the revolution at TM3, providing the teams with direction, enthusiasm to create industry changing software.</p>
      </div><!--
      --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/sales-and-marketing.jpg" alt="TM3 Sales and Marketing Team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Sales and Marketing</h2>
        <p class="font--family__primary font--copy__small color__tertiary">TM3’s sales and marketing team ensure the {{ i18n "msk" }} industry understands how awesome TM3 is. If you are out and about at conferences you are sure to see these guys commanding TM3’s exhibition stand, preaching the software’s amazing benefits.</p>
      </div><!--
      --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/development.jpg" alt="TM3 development team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Development</h2>
        <p class="font--family__primary font--copy__small color__tertiary">The development team is where it all starts, after a few morning coffees that is. Passionate craftsmen with a love for everything code, these guys are the creators at TM3.</p>
      </div><!--
      --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/testing.jpg" alt="TM3 testing team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Testing</h2>
        <p class="font--family__primary font--copy__small color__tertiary">Nothing gets past these guys. Equipped with hawk eyes and technological genius, the testing team ensures the product we provide is amazing and ready for action.</p>
      </div><!--
      --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/projects.jpg" alt="TM3 projects team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Projects</h2>
        <p class="font--family__primary font--copy__small color__tertiary">The projects team works with the special assignments TM3 are regularly tasked with. For these guys, there’s no task too big or too complex, they are always sure to get the job done and with style. </p>
      </div><!--
      --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/support.jpg" alt="TM3 support team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Support</h2>
        <p class="font--family__primary font--copy__small color__tertiary">The support team are the troops on the ground. Armed with happiness and a complete knowledge of all Blue Zinc IT products, there’s no query that gets past these guys without resolve. </p>
      </div><!--
    --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/client-focus-team.jpg" alt="TM3 client focus team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Client Focus Team</h2>
        <p class="font--family__primary font--copy__small color__tertiary">The Client Focus team is equipped with the knowledge and communication skills to help you kick start your journey with TM3.</p>
      </div><!--
      --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/administration.jpg" alt="TM3 administration team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Administration</h2>
        <p class="font--family__primary font--copy__small color__tertiary">The administration team keeps the company organised, which is certainly no mean feat. Life lesson, always be nice to a team who controls when you get paid.</p>
      </div><!--
      --><div class="cols-2__1-1 spacing--padding-bottom__x-large  centered">
        <img src="/images/uploads/team/system-administration.jpg" alt="TM3 system administration team" />
        <h2 class="spacing--padding-top__medium font--h3__medium font--family__tertiary color__secondary">Internal Systems Team</h2>
        <p class="font--family__primary font--copy__small color__tertiary">The Internal Systems Team manage and develop Blue Zinc's business cloud and network infrastructure. If it's a business critical IT system, then these guys look after it.</p>
      </div><!--
    --></div>
  </div>
</div>
