<body class="permanent">
	<div class="video-wrapper">
		<div class="video-popup">
			<div class="video-wrapper__close"></div>
			<iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{{ partial "navigation"  (dict "logo" "blue") }}
  <div class="wrapper wrapper__master header__plain">

    <div class="wrapper background__white spacing--padding-top__xxxx-large">
  	    <div class="wrapper__inner">

  	    </div>
  	</div>


  	<div class="wrapper background__white spacing--padding-top__xxxx-large">
  	    <div class="wrapper__inner ">
  	    	<div class="cols-2-spec wrapper spacing--padding-bottom__xxxx-large">
  	    		<div class="cols-2-spec__1 centered__vertically ">
  	    			<h2 class="font--family__primary color__secondary font--h2__medium">Thank you for registering your interest.</h2>
  	    			<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">A member of our sales team will be in touch with you shortly. If you just can't wait please call us on 03333 442 600.</p>
  	    		</div>

  				</div>
  			</div>
  	</div>
  </div>
