<body class="permanent">
	<div class="video-wrapper">
		<div class="video-popup">
			<div class="video-wrapper__close"></div>
			<iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="menu-popup">
		<div class="menu-popup__wrapper">
			<div class="cols-1">
				<span class="menu-popup__close font--family__tertiary color__secondary font--extra__small">CLOSE MENU</span>
			</div>
			<div class="cols-1 ">
			<div class="text-left">
				<nav class="font--cta__small font--family__tertiary spacing--padding-bottom__large wrapper__border-bottom">
					<a href="/why-tm3" title="" class="color__secondary display__block spacing--padding-bottom__small">Why TM3</a>
					<a href="/tour" title="" class="color__secondary display__block spacing--padding-bottom__small">Tour</a>
					<a href="/success-stories" title="" class="color__secondary display__block spacing--padding-bottom__small">Success Stories</a>
					<a href="/pricing" title="" class="color__secondary display__block spacing--padding-bottom__small">Pricing</a>
					<a href="/learning" title="" class="color__secondary display__block spacing--padding-bottom__medium">Learning</a>
					<a href="/book-a-demo" title="" class="font--extra__small btn btn__primary">BOOK A DEMO</a>
				</nav>
			</div>
		 </div>
		</div>
	</div>
	<div class="tool__nav  spacing--padding-top__medium">
	    <div class="wrapper wrapper__max">
	        <div class="wrapper__inner text-right">
				<div class=" display__inline__bottom">
					<nav class="sub font--extra__small font--family__secondary  ">

					</nav>
				</div>
			</div>
		</div>
	</div>
	<header id="header" class="spacing--padding-bottom__large header__closed">
	    <div class="wrapper wrapper__max">
	        <div class="wrapper__inner ">
				<a href="/" title="Back to Homepage" class="bth"><div id="logo__blue" class="display__inline__bottom" ></div></a><!--
				--><div class="header__navigation display__inline__bottom">
					<nav class="main font--cta__small font--family__tertiary">
						<ul class="icon__contact">
	        				<li class="icon__contact__phone spacing--padding-top__medium text-left">
	        					<span class="display__block font--family__tertiary font--h3__small color__secondary">Call Us</span>
	        					<span class="font--family__secondary font--h3__small color__secondary">03333 442 600</span>
	        				</li>
	        				<li class="icon__contact__email spacing--padding-top__medium text-left">
	        					<span class="display__block font--family__tertiary font--h3__small color__secondary">Email Us</span>
	        					<a href={{ i18n "salesmailto" | safeHTMLAttr }} title="" class="font--family__secondary font--h3__small color__secondary">{{ i18n "salesemail" }}</a>
	        				</li>
	        			</ul>
						<a href="" title="" class="font--extra__small color__white responsive__menu">MENU</a>
 					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="wrapper wrapper__master">
		<div class="wrapper background__white spacing--padding-top__x-large">
		    <div class="wrapper__inner">
		    	<div class="cols-2 wrapper spacing--padding-bottom__large">
		    		<div class="cols-2__1">
						<h1 class="color__secondary font--family__primary font--h2__medium"><b>There has never been a better time to join TM3!</b></h1>
		    			<p class="font--copy__medium color__tertiary">TM3 can help make clinic life a little bit easier, especially for smaller clinics. With impressive features, unrivalled support and bespoke packages, there has never been a better time to move to TM3! </p><br>
		    			<ul class="list__ticked">
		    				<li class="color__tertiary font--family__primary font--copy__medium">
	    						<h3 class="font--family__secondary color__secondary">TM3</h3>
	    						<p>TM3 excels on multiple devices including iMacs, iPads, laptops. It's fully flexibile to meet your needs from checking your diary on your smartphone whilst you're on the go, to showing your patient their progress with scores and goals on your iPad.</p>
	    					</li>
								<li class="color__tertiary font--family__primary font--copy__medium">
	    						<h3 class="font--family__secondary color__secondary">Bespoke Pricing</h3>
	    						<p>No two clinics are the same so we like to tailor packages to suit the needs of your clinic. </p>
	    					</li>

	    					<li class="color__tertiary font--family__primary font--copy__medium">
	    						<h3 class="font--family__secondary color__secondary">Clinical Notes</h3>
	    						<p>TM3's new clinial notes are groundbreaking. We are pretty confident when you see these, you are going to love them... a lot!</p>
	    					</li>
	    					<li class="color__tertiary font--family__primary font--copy__medium">
	    						<h3 class="font--family__secondary color__secondary">Support</h3>
	    						<p>Our in-house support team is available on the phone, email or online chat to ensure you get the most from your TM3</p>
	    					</li>

	    				</ul>

		    		</div><!--
		    		--><div class="cols-2__1">

			    			<h1 class="color__primary font--family__primary font--h2__medium">For More Information </h1>

    					<p class="hide-me font--copy__medium color__tertiary">To find out more about TM3 or to request a demonstration, please complete the form below and a member of our team will get back to you: </p>
