<div class="wrapper  wrapper__shadow-bottom wrapper__sub-navigation spacing--padding-bottom__medium">
		<div class="wrapper wrapper__inner latch">
			<nav class="cols-x-spec centered subpage">
				<div class="cols-x-spec__1">
					<a href="/tour/attract-patients/" title="" class="icon__subnav icon__subnav__patient-journey display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>ATTRACT PATIENTS</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/reception/" title="" class="icon__subnav icon__subnav__reception display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>RECEPTION</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/clinical-notes/" title="" class="icon__subnav icon__subnav__clinical-experience display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium active-sub"><span>CLINICAL EXPERIENCE</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/practice-management/" title="" class="icon__subnav icon__subnav__practice-management display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>PRACTICE MANAGEMENT</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/communication/" title="" class="icon__subnav icon__subnav__referrals display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>COMMUNICATION</span></a>
				</div>
			</nav>
		</div>
</div>

<div class="wrapper background__white">
	<div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__small">
		<div class="max--width__headline centered margin__default">
			<h2 class="font--family__primary color__primary font--h2__medium">TM3 Clinical Notes, powering treatments and empowering practitioners across the world!</h2>
			<p class="color__tertiary font--family__primary font--strapline__medium"> We have listened to our clients and the wider {{ i18n "msk" }} industry. This has given us a unique opportunity to create the clinical notes you have been waiting for. We have developed new features that will make note taking efficient, flexible and more user-friendly than ever before. TM3 clinical notes is not like other industry note-taking software, TM3 clinical notes works with you, maximising your interaction and time treating patients. Clinical notes are the backbone of TM3 and will become the heart of your clinic.</p>
		</div>

	</div>

</div>
<div class="wrapper background__white">
	<div class="wrapper wrapper__inner spacing--padding-top__x-large spacing--padding-bottom__x-large">
			<div class="video wrapper">
				<a href="https://player.vimeo.com/video/202191333" title="" class="play-video">
					<div class="video__bg-overlay"></div>
					<div class="video__overlay"></div>
					<img src="/images/uploads/tour/david-newman-clinical.jpg" alt="Multi Device Functionality" />
				</a>
			</div>
		</div>
<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>
</div>
<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner ">
		<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
			<div class="cols-2-spec__1 centered__vertically ">
				<h2 class="font--family__primary color__secondary font--h2__medium">TM3 Sketchpad</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spascing--padding-bottom__medium">Explore your creative side with live imaging and freehand drawing. Annotate trigger points, note irregularities or highlight areas of pain, articulating important information to your patient is simple with TM3. With TM3 Sketchpad you have the flexibility to:</p>
				<ul style="list-style-type:circle">
					<li><span class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Upload your very own images and snap live pictures</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Size and scale images to customise your record</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Compare multiple images side by side</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Get creative with interactive drawing tools</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Easily highlight areas of pain and annotate trigger points</span></li>


				</ul><Br>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">You'll have to see it to believe it!</p>
			</div><!--
			--><div class="cols-2-spec__1 ">
				<img src="/images/uploads/tour/tm3-sketchpad.jpg" alt="Clinical Notes Software" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertically">
				<h2 class="font--family__primary color__secondary font--h2__medium">Scores and Goals</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__small">Fantastic patient engagement with TM3’s scores and goals feature. Simply set an end goal, and score your patient’s progress as treatment develops. This is a fantastic motivational tool for your patients.</p>
				<ul style="list-style-type:circle">
					<li><span class="color__tertiary font--family__primary font--copy__medium">Create and assign goals with your patient</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Score your patient's progress against a defined goal</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Customise scores and goals so suit your patient</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Scores and goals can be articulated using pie charts or line graphs</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Quickly access scores and goals in your summary panel</span></li>

				</ul><Br>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Your patients are going to love this!</p>

			</div><!--
			--><div class="cols-2-spec__1 float__left__desktop">
				<img src="/images/uploads/tour/scores-and-goals.jpg" alt="Scores and goals" />
			</div>
		</div>
	</div>
</div>


<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper wrapper__inner ">
		<div class="wrapper">
			<div class="cols-3 cols-2 spacing--padding-bottom__xxx-large">
				<div class="cols-3__1 cols-3__1-2">
					<div class=""><img src="/images/uploads/tour/medical-history.jpg" alt="Time Stamped Clinical Software" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Previous Medical History</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">This follows a patient for all cases during their time in your clinic. Information only requires verification, saving you and your colleagues valuable time. <br><br>Consistent, accurate patient information at the touch of a button.</p>
			</div><!--
			--><div class="cols-3__1 cols-3__1-2">
				<div class=""><img src="/images/uploads/tour/spell-check.jpg" alt="Touch Screen Clinical Notes" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Spell Check</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">If you are operating the web version of TM3, you can benefit from your browser's native spell-check.<br><br>
				Say goodbye to double-spaces and annoying typos.</p>
			</div><!--
			--><div class="cols-3__1 cols-3__1-2">
				<div class=""><img src="/images/uploads/tour/medications-and-vaccinations.jpg" alt="Exercise Programs" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Pre-populated Meds & Vaccinations</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">Commonly prescribed medications and vaccinations are listed for you and can be easily customised to suit the way you practice.<br><br>From NSAIDS to flu vaccinations, all at your finger tips!</p>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>


<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner ">
		<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
			<div class="cols-2-spec__1 centered__vertically  ">
				<h2 class="font--family__primary color__secondary font--h2__medium">Flags and Alerts</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">A great tool to identify potential barriers to patient recovery. Keep track of important patient alerts and flag patient records to alert clinic staff of patient specific issues. You can even customise your own alerts. TM3 works around you to ensure your clinical life is made easier.</p>
			<ul style="list-style-type:circle">
					<li><span class="color__tertiary font--family__primary font--copy__medium">Customise flags and alerts to suit your patients' circumstances</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Flags and alerts follow the patient throughout their entire time with the clinic</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Alert staff members of key patient specific issues</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Colour code your flags to easily identify barriers that are going to restrict your patient returning to health</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">You can even automatically generate flags based on clinical findings.</span></li>

				</ul><Br>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">A new feature with huge benefits, you are going to love it!</p>

			</div><!--
			--><div class="cols-2-spec__1">
				<img src="/images/uploads/tour/clinical-notes-flags.jpg" alt="Flags and alerts" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>



<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertically">
				<h2 class="font--family__primary color__secondary font--h2__medium">Configurable Templates</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">An incredibly flexible system that lets you customise your clinical notes as much as you need. TM3's clinical notes were built in collaboration with practitioners across the {{ i18n "msk" }} industry ensuring templates are clinically minded and simple to use and configure.  </p>
			<ul style="list-style-type:circle">
					<li><span class="color__tertiary font--family__primary font--copy__medium">Fully configure your notes to suit your style of treatment</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Standardise your clinical notes across your clinic's treatments ensuring all your practitioners follow the same template</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Speed up note taking with pre-populated assessments and treatments</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">All consultations are date and time stamped, ensuring auditing is not a problem.</span></li>

				</ul><Br>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Clinical notes like you've never seen before.</p></div><!--
			--><div class="cols-2-spec__1 float__left__desktop">
				<img src="/images/uploads/tour/clinical-notes-templates.jpg" alt="Configurable Templates" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>


<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner ">
		<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
			<div class="cols-2-spec__1 centered__vertically  ">
				<h2 class="font--family__primary color__secondary font--h2__medium">Clinical Reporting</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">TM3's Clinical Reporting helps you quantify the effectiveness of your treatments, which as you know is extremely important for 3rd party insurance companies. Diving into these reports will help you gain a clinical understanding of your practice and help you apply the right resources to the right treatments.
</p>
			<ul style="list-style-type:circle">
					<li><span class="color__tertiary font--family__primary font--copy__medium">Keep track of your clinic's current caseload and how cases are spread amongst practitioners.</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">The discharge analysis will give you a breakdown of average treatments per case.</span></li>
					<li><span class="color__tertiary font--family__primary font--copy__medium">Easily breakdown admission details including admission date, body site, and diagnostic code.</span></li>


				</ul><Br>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Get the most out of the treatments that are more effective for your practice.</p>

			</div><!--
			--><div class="cols-2-spec__1">
				<img src="/images/uploads/tour/clinical-notes-reporting.jpg" alt="Clinical Reporting" />
			</div>
		</div>
	</div>
</div>


<div class="wrapper wrapper__blockquote__medium  background__secondary">
<img src="/images/uploads/testimonial/david-newman.jpg" alt="martin mcgeough" class="blockquote__banner"/>
<div class="wrapper wrapper__inner centered__vertical">
	<div class="cols-1 ">
			<div class="wrapper cols-1__halved icon__quote__full-banner float__right">
			<blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">I would definitely recommend TM3 clinical notes to any practitioner. It’s extremely flexible and works on any device. It makes practising so much easier and my patients love it, especially scores and goals! TM3 clinical notes will help future proof my practice.
</blockquote>
			<p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">David Newman, Hantscare Physiotherapy Clinic</p>
			<a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
		</div>
	</div>
</div>
</div>
