<div class="wrapper background__senary">
			<div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__xxxx-large">
				<div class="max--width__headline centered margin__default">
					<h2 class="font--family__primary color__secondary font--h2__medium spacing--padding-bottom__xx-large">What our customers say</h2>

				</div>
				<div class="cols-2 wrapper spacing--padding-bottom__large">
				<div class="cols-2__1 centered spacing--padding-bottom__large">
					<div class="quote__styled">
					<blockquote class="centered font--family__quinary font--blockquote__small color__secondary">"I think words and numbers cannot describe how grateful we are as a team to the team behind Blue Zinc IT. If I had to rate them it would surely be 10/10."</blockquote>
						<div class="quote__author spacing--padding-top__large ">
							<img src="/images/uploads/testimonial/perfect-balance.jpg" alt="Perfect Balance" />
							<span class="color__secondary font--family__tertiary font--h3__small">Physiotherpist,</span><br/>
							<span class="color__secondary font--family__tertiary font--h3__small">Perfect Balance Clinic</span>
						</div>
					</div>
				</div><!--
				--><div class="cols-2__1 centered quote__styled spacing--padding-bottom__large">
					<div class="quote__styled">
					<blockquote class="centered font--family__quinary font--blockquote__small color__secondary">"Only wished I had done this years ago."</blockquote>
						<div class="quote__author spacing--padding-top__large ">
							<img src="/images/uploads/testimonial/feet247.jpg" alt="Feet 24/7" />
							<span class="color__secondary font--family__tertiary font--h3__small">Podiatrist,</span><br/>
							<span class="color__secondary font--family__tertiary font--h3__small">Feet 24/7 Ltd</span>
						</div>
					</div>
				</div>
			</div>
			</div>
	</div>


{{ partial "foot" . }}
