<div class="wrapper background__white spacing--padding-top__xxx-large">
		<div class="wrapper__inner">
			<div class="cols-1 max--width__copy wrapper spacing--padding-bottom__xxx-large">
				<h1 class="font--family__primary color__secondary font--h2__medium spacing--padding-bottom__large">Privacy and Cookie Policy</h1>
				<div class="color__secondary font--family__primary font--copy__large basic-content">

					<p>We are committed to safeguarding the privacy of our clients and website visitors. What information may we collect? We may collect, store and use the following kinds of personal data:
					Information about your computer and your visits to and use of this website, such as your geographical location, IP address, browser type, referral source, length of visit and number of page views.
					Information relating to any purchases of TM3 services or goods, information you provide to us in the course of registering with us either via the website or in person.</p>
					<p>Information you provide to us for the purpose of subscribing to our website services, email notifications and or newsletters. Any information that you choose to send to us.</p>
					Information to collect payment for all products or services you purchase, such as Direct Debit or Credit Card information. Note that we do not store Credit or Debit card details nor do we share customer details with any 3rd parties.</p>

					<h2>Cookies</h2>

					<p>We use cookies on this website. A cookie is a text file sent by a web server to a web browser and stored by the browser. The text file is then sent back to the server each time the browser requests a page for the server. This enables the web server to identify and track the web browser.</p>
					<p>We may send a cookie which may be stored by your browser on your computer’s harddrive. We may use the information we obtain from the cookie in the administration and optimisation of our website to improve our website’s usability and for marketing purposes. We may also use that information to recognise your computer when you visit our website and to personalise our website for you.</p>
					<p>Most browsers allow you to refuse to accept cookies (in the internet options settings). Selecting to block all cookies may affect the usability you experience on visiting many websites including this one.</p>
					<p>We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by using cookies which are stored as mentioned above on the user’s computer, This information is used to create reports about use of our website. Google will store this information.</p>
					<p>For their Privacy Policy please visit (http://www.google.com/privacypolicy.html)</p>

					<h2>Using your personal Data</h2>

					<p>Personal Data received by us via the website, email or other means will be used for the purposes specified in this privacy statement, that is, to fulfil our obligations to you as our client. We will not provide your personal information to any third parties without your express consent. We do not store Credit or Debit card details. We only use your information to:

					<p>Administer the website and improve your browsing experience by personalising the website, or to enable your use of the services available on the website. </p>

					<p>To send to you goods purchased via the website or phone, and supply to you services purchased via the website, send statements and invoices to you, and collect payments from you. </p>

					<p>Send you general (non–marketing) commercial communications, send you email notifications which you have specifically requested and notification of agreement renewal when appropriate. </p>

					<p>Send to you our newsletter and other marketing communications relating to our business or the businesses of carefully–selected third parties which we think may be of interest to you by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications to be sent by emailing us at {{ i18n "salesemail" }}) and to deal with enquiries and complaints made by or about you relating to the website.</p>
				</div>
			</div>
		</div>
</div>
