        </div>
      </div>
    </div>
  </div>
</div>
<div id="overview" class="wrapper background__white spacing--padding-bottom__small">
  <div class="wrapper__inner ">
    <div class="wrapper wrapper__bordered wrapper__contain">
      <h2 class="color__secondary font--family__primary font--h2__medium">Special Offer</h2>
      <p class="hide-me font--copy__medium color__tertiary">
      <B>Your First Month is FREE</b>
      <br>Moving private practice software is easy with our dedicated implementation team. It is a lot easier when your first month is FREE! Within this month you can get to grips with your new software and truly experience the potential of TM3.
      <br>
      <br><b>Terms and conditions</b>
      <br>This promotion is only when you sign up to a TM3 contract.
      <br>Your 1 month free begins when your order is placed.</b></p>
    </div>
  </div>
</div>
