        </div>
      </div>
    </div>
  </div>
</div>
<div id="overview" class="wrapper background__white spacing--padding-bottom__small">
  <div class="wrapper__inner ">
    <div class="wrapper wrapper__bordered wrapper__contain">
      <h2 class="color__secondary font--family__primary font--h2__medium">Special Offer</h2>
      <p class="hide-me font--copy__medium color__tertiary">
      <b>Online Bookings free for 3 months.</b>
      <br>Moving to TM3 is made simple by our Implementation Team. The move is made even better with online bookings free for 3 months. Within these 3 months you can get to grips with this new feature, along with all of the other amazing features available on TM3. It won't take long before you start to see the benefits!
      <br>
      <br><b>Terms and conditions</b>
      <br>This promotion is only when you sign up to a 12 month TM3 contract.
      <br>Your 3 months free online booking feature begins when your order is placed.</b>
      </p>
    </div>
  </div>
</div>
