<div class="wrapper background__white spacing--padding-top__large">
	<div class="wrapper__inner">
		<ul class="link__breadcrumbs">
			<li class="display__inline display__inline color__secondary font--extra__small font--family__tertiary">LEARNING</li><span class="display__inline color__primary font--extra__small font--family__tertiary">|</span><li class="display__inline display__inline color__secondary font--extra__small font--family__tertiary">INDUSTRY PARTNERS</li>
		</ul>
	</div>
</div>

<div class="wrapper background__white spacing--padding-top__medium">
	<div class="wrapper__inner">
		<div class="cols-3 wrapper spacing--padding-bottom__xxx-large">
			<div class="cols-3__2">
				<div class="color__secondary font--family__primary font--copy__large basic-content">
					<p>TM3 partners with a number of leading companies to bring you the most robust software, made to cover every aspect of your day-to-day practice operations.
					From financial management integrations to exercise prescriber tools, TM3 leverages its strategic alliances to provide you with a complete software experience and yield the best results for its client base.</p>
				</div>
				<h3 class="font--family__secondary color__secondary font--h3__medium spacing--padding-top__medium spacing--padding-bottom__medium">Our Industry Partners</h3>
				<div class=" margin__zero spacing--padding-bottom__medium">
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/io.jpg" alt="Institute Of Osteopathy" />
					</div>
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/bupa.png" alt="BUPA" />
					</div>
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/physiofirst.png" alt="Physio First" />
					</div>
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/rcoc.png" alt="Royal College Of Chiropractors" />
					</div>
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/whatclinic.png" alt="WhatClinic" />
					</div>
				</div>
			</div>
			<h3 class="font--family__secondary color__secondary font--h3__medium spacing--padding-top__medium spacing--padding-bottom__medium">Our Integrations</h3>
				<div class=" margin__zero">
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/salaso.png" alt="Salaso" />
					</div>
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/healthcode.png" alt="Healthcode" />
					</div>
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/physiotools.png" alt="Physio Tools" />
					</div>
					<div class="display__inline__middle spacing--padding-all__small">
						<img src="/images/uploads/industry-partners/physiotec.png" alt="PhysioTec" />
					</div>

				</div>
				{{if eq .Site.LanguageCode "en-AU" }}
				<div class="color__secondary font--family__primary font--copy__large basic-content">
					<p>Australian integrations include Medicare/DVA amd HICAPS.</p>
				</div>
				{{ else }}
				{{ end }}
			</div><!--
			--><div class="cols-3__1">

			</div>
		</div>
	</div>
</div>
