<div id="add-ons" class="wrapper background__white spacing--padding-bottom__xxx-large">
		<div class="wrapper__inner ">
			<h2 class="font--h2__medium color__secondary font--family__primary">Add-ons</h2>
			<p class="color__tertiary font--family__primary font--copy__medium">Add-ons are optional and will give you even greater flexibility and control over your clinic.</p>


			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Online Patient Bookings</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£9 per practitioner per month or £7.50 ex. VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;10 ex. VAT</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Multi Location</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£5 per practitioner per month or £4.17 ex. VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;5.50 ex. VAT</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Classes (requires desktop interface)</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£2 per practitioner per month or £1.67 ex. VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;2.20 ex. VAT</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Third Party Reception Access</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£7 per practitioner per month or £5.83 ex. VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;7.70 ex. VAT</span>
					</div>
				</div>
			</div>
		</div>
</div>
