<div id="overview" class="wrapper background__white spacing--padding-top__large spacing--padding-bottom__large">
		<div class="wrapper__inner ">
			<div class="wrapper wrapper__bordered wrapper__contain">

<div class="wrapper wrapper__border-bottom">
					<div class="cols-4 spacing--padding-top__large spacing--padding-bottom__large">
						<div class="cols-4__3">
							<img src="../images/uploads/tm3-blue.png" alt="TM3" class="spacing--padding-bottom__small" />
							<br><h3 class="color__secondary font--family__tertiary font--h3__medium">Sole Practitioner  Licence</h3>
							<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__small">Running a practice on your own is tough, so here's a helping hand:</p>
							<ul class="list__ticked">

								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Diary Management</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Finances</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Patient Details</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Reporting</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Room Manager</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">All non-clinical staff can use TM3 for FREE!</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Support (Phone, and email)</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Instant support with built-in live chat</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Knowledgebase - extensive online learning and training materials</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Secure Data Hosting</li>

							<ul>
						</div><!--
						--><div class="cols-4__1 text-right">

							<h3 class="color__primary font--family__quaternary font--cta__large">£50 <span class="color__secondary font--family__secondary font--extra__large">per month</span></h3>
							<h4 class="color__secondary font--family__secondary font--extra__medium">£41.67 ex. VAT</h3><br>
							<span class="color__tertiary font--family__secondary font--extra__medium ">&euro;55 per month ex. VAT</span>
							</div>
																						<div class="cols-4__4 text-right" style="margin-right:7%;padding-top:10px;">
								<a href="/book-a-demo/" title="" class="font--family__tertiary font--extra__small btn btn__orange">BOOK A DEMO</a>
								</div>


					</div>
				</div>

				<div class="wrapper wrapper__border-bottom ">
					<div class="cols-4 spacing--padding-bottom__large spacing--padding-top__large">
						<div class="cols-4__3">

							<br><h3 class="color__secondary font--family__tertiary font--h3__medium">Multi-Practitioner Clinic - First Practitioner Licence</h3>
							<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__small">Use the most comprehensive, powerful and secure practice management system available, that includes:</p>
							<ul class="list__ticked">

								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Diary Management</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Finances</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Patient Details</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Reporting</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Room Manager</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">All non-clinical staff can use TM3 for FREE!</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Support (Phone, and email)</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Instant support with built-in live chat</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Knowledgebase - extensive online learning and training materials</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Secure Data Hosting</li>

							<ul>
						</div><!--
						--><div class="cols-4__1 text-right">
						<h4 class="color__secondary font--family__secondary font--extra__medium">From:</h3>
							<h3 class="color__primary font--family__quaternary font--cta__large">£64 <span class="color__secondary font--family__secondary font--extra__large">per month</span></h3>
							<h4 class="color__secondary font--family__secondary font--extra__medium">£53.33 ex. VAT</h3><br>
							<span class="color__tertiary font--family__secondary font--extra__medium ">&euro;70.40 per month ex. VAT</span>
						</div>
																											<div class="cols-4__4 text-right" style="margin-right:7%;padding-top:10px;">
													<a href="/book-a-demo/" title="" class="font--family__tertiary font--extra__small btn btn__orange">BOOK A DEMO</a>
													</div>
					</div>
				</div>



			<div class="wrapper wrapper__border-bottom">

					<div class="cols-4 spacing--padding-bottom__large spacing--padding-top__large">
						<div class="cols-4__3">
							<h3 class="color__secondary font--family__tertiary font--h3__medium">Each Additional Practitioner</h3>
							<p class="color__tertiary font--family__primary font--copy__medium">With TM3, you only pay for practitioners who use the software. All non-clinical staff not requiring a diary can use TM3 for FREE. Each additional practitioner you add will receive the same features included in the first practitioner licence above.  </p>
						</div><!--
						--><div class="cols-4__1 text-right">
						<h4 class="color__secondary font--family__secondary font--extra__medium">From:</h3>
							<h3 class="color__primary font--family__quaternary font--cta__large">£30 <span class="color__secondary font--family__secondary font--extra__large">per month</span></h4>
							<h4 class="color__secondary font--family__secondary font--extra__medium">£25 ex. VAT</h4>
							<span class="color__tertiary font--family__secondary font--extra__medium ">&euro;33 per month ex. VAT</span>
						</div>
					</div>
				</div>


					<div class="cols-4 spacing--padding-bottom__larg spacing--padding-top__large">
						<div class="cols-4__3">

							<br><h3 class="color__secondary font--family__tertiary font--h3__medium">Clinical Notes - Like You've Never Seen Before</h3>
							<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__small">Clinical notes are the backbone of TM3 and will soon become the heart of your clinic.</p>
							<ul class="list__ticked">
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">TM3 Sketchpage</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Scores and Goals</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Customisable Templates</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Flags and Alerts</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Pre-populated Medications & Vaccinations</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Previous Medical History</li>
								<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Spell Check</li>
							<ul>
						</div><!--
						--><div class="cols-4__1 text-right">

							<h3 class="color__primary font--family__quaternary font--cta__large">£15 <span class="color__secondary font--family__secondary font--extra__large">per practitioner per month</span></h3>
							<h4 class="color__secondary font--family__secondary font--extra__medium">£12.50 ex. VAT</h3><br>
							<span class="color__tertiary font--family__secondary font--extra__medium ">&euro;16.50 per practitioner per month ex. VAT</span>
						</div>
						<div class="cols-4__4 text-right" style="margin-right:7%;padding-top:10px;">
								<a href="/book-a-demo/" title="" class="font--family__tertiary font--extra__small btn btn__orange">BOOK A DEMO</a>
								</div>
					</div>
				</div>
			</div>
		</div>
</div>


<div class="wrapper background__white spacing--padding-bottom__large">
		<div class="wrapper__inner  centered">
			<div class="wrapper background__senary">
				<p class="spacing--padding-top__small spacing--padding-bottom__small font--copy__medium font--family__secondary color__secondary"><span class="font--family__quaternary color__primary">10% Discount</span> off all prices shown for Physio First or Royal College of Chiropractors members</p>
			</div>
		</div>
</div>
