<div id="pay-per-click" class="wrapper background__white spacing--padding-bottom__xxx-large">
		<div class="wrapper__inner ">
			<h2 class="font--h2__medium color__secondary font--family__primary">Pay per click</h2>
			<p class="color__tertiary font--family__primary font--copy__medium">All TM3 Pay Per Click Services are included in your TM3 package. Just remember to ask for them to be set up for you when you are purchasing TM3 and you will only pay when you use them.</p>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Insurance and third party referrers using Pronto</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£1.20 or £1 ex VAT </h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;1.30 per referral</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Text Messaging</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">10.2p per text or 8.5p ex VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">8.5 cents per text</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Electronic invoicing via Healthcode</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">From 0.3% invoice value</h4>
					</div>
				</div>
			</div>
		</div>
</div>

<div id="reception-services" class="wrapper background__white spacing--padding-bottom__xxx-large">
		<div class="wrapper__inner ">
			<h2 class="font--h2__medium color__secondary font--family__primary">Reception Services</h2>
			<p class="color__tertiary font--family__primary font--copy__medium">TM3 Reception Services provides you with in-clinic call handling and outsourced reception services allowing you to receive bookings 24/7, 365 days per year. Whether you have no receptionist, or you are missing valuable appointments due to your busy phone line, 24/7 Reception is the solution. The price for this service is not practitioner based. </p>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Set Up Fee</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£63 or £52.50 ex. VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;68 ex. VAT</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Usage Fee</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£31.50 per month or £26.25 ex. VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;35 ex. VAT</span>
					</div>
				</div>
			</div>
			<div class="wrapper wrapper__border-bottom spacing--padding-top__large spacing--padding-bottom__large">
				<div class="cols-2">
					<div class="cols-2__1 text-left">
					<h3 class="font--h3__medium color__secondary font--family__tertiary">Call charge</h3>
					</div><!--
					--><div class="cols-2__1 text-right">
						<h4 class="font--extra__medium color__secondary font--family__secondary">£2.50 per call or £2.08 ex. VAT</h4>
						<span class="font--extra__medium color__tertiary font--family__secondary">&euro;2.70 ex. VAT</span>
					</div>
				</div>
			</div>
		</div>
</div>
