<div class="wrapper wrapper__master header__plain">

	 <div class="wrapper background__white spacing--padding-top__large">
			<div class="wrapper__inner">
				<ul class="link__breadcrumbs">
					<li class="display__inline display__inline color__secondary font--extra__small font--family__tertiary"><a href="/learning/">LEARNING</li><span class="display__inline color__primary font--extra__small font--family__tertiary">|</span><li class="display__inline display__inline color__secondary font--extra__small font--family__tertiary"><a href="/learning/inside-tm3-blog/">INSIDE TM3 BLOG</li>
				</ul>
			</div>
	</div>
		<div class="wrapper background__white spacing--padding-top__x-large">
			<div class="wrapper__inner">
				<div class="cols-3 wrapper spacing--padding-bottom__x-large">
					<div class="cols-3__2">
		<h1 class="spacing--padding-top__small"><a href="/{{ .URL }}" title="" class="font--h2__large font--family__tertiary color__secondary">{{ .Title}}</a></h1>
		</div>
		</div>
		</div>

	<div class="wrapper background__white spacing--padding-top__xxx-large">
			<div class="wrapper__inner">
				<div class="cols-3 wrapper spacing--padding-bottom__xxx-large">
					<div class="cols-3__2">


						<div class="wrapper spacing--padding-bottom__x-large">
							{{ range  first 1  ( where  .Site.Pages "Section" "blog" ) }}<a href="/{{ .URL }}" title="" class=""><img src="{{ .Params.thumbnail }}" alt="TM3 Private Practice blog snippet" /></a>
							<h2 class="spacing--padding-top__small"><a href="/{{ .URL }}" title="" class="font--h3__medium font--family__tertiary color__secondary">{{ .Title }}</a></h2>
							<p class="font--family__primary font--copy__small color__tertiary">{{ .Params.blurb}}</p>
							<span class="font--family__primary color__secondary font--extra__medium taxonomy">Posted {{ .Date.Format "2 January 2006" }} in {{ range  .Params.categories  }}<span class="work-around-comma">, </span><a href="/learning/inside-tm3-blog/category/{{ . | urlize }}" class="color__secondary"> {{ . }}</a>{{ end }}</span>{{ end }}
						</div>

						<div class="cols-2"><!--
							-->{{ range  first 2 ( where  .Site.Pages "Section" "blog" ) }}<div class="cols-2__1-1 spacing--padding-bottom__x-large">
								<a href="/{{ .URL }}" title="" class=""><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" /></a>
								<h2 class="spacing--padding-top__small"><a href="/{{ .URL }}" title="" class="font--h3__medium font--family__tertiary color__secondary">{{ .Title }}</a></h2>
								<p class="font--family__primary font--copy__small color__tertiary">{{ .Params.blurb}}</p>
								<span class="font--family__primary color__secondary font--extra__medium taxonomy">Posted {{ .Date.Format "2 January 2006" }} in {{ range  .Params.categories  }}<span class="work-around-comma">, </span><a href="/learning/inside-tm3-blog/category/{{ . | urlize }}" class="color__secondary"> {{ . }}</a>{{ end }}</span>
							</div>{{ end }}<!--
						--></div>

						<div class="cols-1">
							<a href="/learning/inside-tm3-blog/category/all" title="" class="link__arrow font--family__tertiary font--extra__small">VIEW MORE OF OUR LATEST POSTS <span class="link__arrow__icon">&rarr;</span></a>
						</div>
					<div class="cols-1 spacing--padding-top__xx-large  spacing--padding-bottom__xx-large ">
							<h2 class="font--h2__medium font--family__primary color__secondary">Featured Posts</h2>
						</div>
						{{ range  first 4  (where .Site.Pages ".Params.feature"  "true") }}
						<div class="cols-3  spacing--padding-bottom__x-large">
							<div class="cols-3__1-hold">
								<a href="/{{ .URL }}" title="" class=""><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" /></a>
							</div><!--
							--><div class="cols-3__2-hold">
								<h2><a href="/{{ .URL }}" title="" class="font--h3__medium font--family__tertiary color__secondary">{{ .Title }}</a></h2>
								<p class="font--family__primary font--copy__small color__tertiary">{{ .Params.blurb}}</p>
								<span class="font--family__primary color__secondary font--extra__medium taxonomy">Posted {{ .Date.Format "2 January 2006" }} in {{ range  .Params.categories  }}<span class="work-around-comma">, </span><a href="/learning/inside-tm3-blog/category/{{ . | urlize }}" class="color__secondary"> {{ . }}</a>{{ end }}</span>
							</div>
						</div>
						{{ end }}
					</div><!--
					--><div class="cols-3__1">

					<div class="cols-1">
						<div class="cols-1__2">
							<div class="spacing--padding-bottom__medium">
									<h3 class="color__secondary font--family__tertiary font--h3__medium">Recent Posts</h3>
								</div>
							<div class="cols-1 spacing--padding-bottom__large">
								<ul><!--
									-->{{ range  first 4  ( where  .Site.Pages "Section" "blog" ) }}<li class="cols-1 wrapper__border-bottom spacing--padding-top__small spacing--padding-bottom__small">
										<a href="/{{ .URL }}" title="" class="">
											<span class="display__block font--family__tertiary color__secondary font--extra__small">{{ .Title | upper}}</span>
											<span class="font--family__primary color__tertiary font--extra__small">{{ .Date.Format "2 January 2006" }}</span>
										</a>
									</li>{{ end }}<!--
								--></ul>
							</div>
						</div><!--

						--><div class="cols-1__2">
							<div class="cols-1 spacing--padding-top__large spacing--padding-bottom__medium">
									<h3 class="color__secondary font--family__tertiary font--h3__medium spacing--padding-top__medium">Categories</h3>
								</div>
							<div class="cols-1 spacing--padding-bottom__large">
								<ul>
									<li class="cols-1 wrapper__border-bottom spacing--padding-top__small spacing--padding-bottom__small">
										<a href="/learning/inside-tm3-blog/category/tm3-news" title="" class="">
											<span class="display__block font--family__tertiary color__secondary font--extra__small">TM3 NEWS</span>
										</a>
									</li>
									<li class="cols-1 wrapper__border-bottom spacing--padding-top__small spacing--padding-bottom__small">
										<a href="/learning/inside-tm3-blog/category/business-and-marketing" title="" class="">
											<span class="display__block font--family__tertiary color__secondary font--extra__small">BUSINESS AND MARKETING</span>
										</a>
									</li>
									<li class="cols-1 wrapper__border-bottom spacing--padding-top__small spacing--padding-bottom__small">
										<a href="/learning/inside-tm3-blog/category/clinical" title="" class="">
											<span class="display__block font--family__tertiary color__secondary font--extra__small">CLINICAL</span>
										</a>
									</li>
									<li class="cols-1 wrapper__border-bottom spacing--padding-top__small spacing--padding-bottom__small">
										<a href="/learning/inside-tm3-blog/category/support" title="" class="">
											<span class="display__block font--family__tertiary color__secondary font--extra__small">SUPPORT</span>
										</a>
									</li>
									<li class="cols-1 wrapper__border-bottom spacing--padding-top__small spacing--padding-bottom__small">
										<a href="/learning/inside-tm3-blog/category/events" title="" class="">
											<span class="display__block font--family__tertiary color__secondary font--extra__small">EVENTS</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="cols-1 spacing--padding-top__large spacing--padding-bottom__medium">
							<h3 class="color__secondary font--family__tertiary font--h3__medium spacing--padding-top__medium">Follow Us</h3>
						</div>
					<div class="cols-1 spacing--padding-bottom__large">
						<ul>
							<li class="icon__sidebar__facebook spacing--padding-top__medium spacing--padding-bottom__medium">
								<a href="https://www.facebook.com/tm3pm" title="" class="">
									<span class="display__block font--family__tertiary color__secondary font--cta__small">Facebook</span>
								</a>
							</li>
							<li class="icon__sidebar__twitter spacing--padding-top__medium spacing--padding-bottom__medium">
								<a href="https://twitter.com/tm3pm" title="" class="">
									<span class="display__block font--family__tertiary color__secondary font--cta__small">Twitter</span>
								</a>
							</li>
							<li class="icon__sidebar__linkedin spacing--padding-top__medium spacing--padding-bottom__medium">
								<a href="https://www.linkedin.com/company/2592066?trk=tyah&trkInfo=tas%3Atm2%20creat%2Cidx%3A1-1-1" title="" class="">
									<span class="display__block font--family__tertiary color__secondary font--cta__small">LinkedIn</span>
								</a>
							</li>
							<li class="icon__sidebar__youtube spacing--padding-top__medium spacing--padding-bottom__medium">
								<a href="https://vimeo.com/user23183270" title="" class="">
									<span class="display__block font--family__tertiary color__secondary font--cta__small">Vimeo</span>
								</a>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</div>
	</div>
