{{ partial "head" . }}

<body>
	<div class="video-wrapper">
		<div class="video-popup">
			<div class="video-wrapper__close"></div>
			<iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{{ partial "navigation"  (dict "logo" "white") }}
	<div class="wrapper wrapper__master">

	   <div class="wrapper wrapper__headline__medium" style="background-image:url('/images/header/arches.jpg'); background-repeat:no-repeat; background-position: center center; background-size: cover;">
	    	<div class="wrapper__headline__blue"></div>
	        <div class="wrapper wrapper__inner centered__vertical ">
	        	<div class="max--width__headline--top  centered margin__default">
	        		<h1 class="color__white font--family__secondary font--h2__medium">Success Stories</h1>
	        		<p class="color__white font--family__primary font--strapline__medium">Don't just take our word for it, see a range of success stories for TM2 and TM3 from our clients including physiotherapists, osteopaths, and chiropractors</p>
	        	</div>
	        </div>
	    </div>


		<div class="wrapper background__white spacing--padding-top__xx-large ">
		    <div class="wrapper__inner  centered">
				  <ul>
			    	<li class="display__inline "><a href="/success-stories" title="" class="display__inline color__secondary font--extra__small font--family__tertiary link__filter">ALL SUCCESS STORIES</a></li>
		    		<li class="display__inline "><a href="/success-stories/category/physiotherapy" title="" class="display__inline color__secondary font--extra__small font--family__tertiary link__filter {{ if  eq  .URL "success-stories/category/physiotherapy"}} link__filter__active {{end}}">PHYSIOTHERAPISTS</a></li>
		    		<li class="display__inline "><a href="/success-stories/category/osteopathy" title="" class="display__inline color__secondary font--extra__small font--family__tertiary link__filter {{ if  eq  .URL "success-stories/category/osteopathy"}} link__filter__active {{end}}">OSTEOPATHS</a></li>
		    		<li class="display__inline "><a href="/success-stories/category/chiropractic" title="" class="display__inline color__secondary font--extra__small font--family__tertiary link__filter {{ if  eq  .URL "success-stories/category/chiropractic"}}  link__filter__active {{end}}">CHIROPRACTORS</a></li>
		    		<li class="display__inline "><a href="/success-stories/category/podiatry" title="" class="display__inline color__secondary font--extra__small font--family__tertiary link__filter {{ if  eq  .URL "success-stories/category/podiatry"}} link__filter__active {{end}}">PODIATRISTS</a></li>
				  </ul>
		    </div>
		</div>
