<div class="wrapper background__white spacing--padding-top__xxxx-large">
		<div class="wrapper__inner ">
			<div class="cols-2-spec wrapper spacing--padding-bottom__xxxx-large">
				<div class="cols-2-spec__1 centered__vertically ">
					<h2 class="font--family__primary color__secondary font--h2__medium">Thank you for reserving your seat to TM3 Client Summit.</h2>
					<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">In the near future, we will send you emails to help prepare you for the event. In the meantime, click the following image to watch fellow practitioner, David Newman chat about his experiences with new clinical notes and how they've helped streamline his note taking.</p>
				</div><!--
				--><div class="cols-2-spec__1 ">
					<div class="wrapper background__white">

				<div class="video wrapper">
					<a href="https://player.vimeo.com/video/202191333" title="" class="play-video">
						<div class="video__bg-overlay"></div>
						<div class="video__overlay"></div>
						<img src="/images/uploads/tour/david-newman-clinical.jpg" alt="Multi Device Functionality" />
					</a>
				</div>
			</div>

</div>
				</div>
			</div>
		</div>
</div>
