<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJZ9JT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="video-wrapper">
    <div class="video-popup">
      <div class="video-wrapper__close"></div>
      <iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


{{ partial "navigation"  (dict "logo" "white") }}
  <div class="wrapper wrapper__master">
    <div class="wrapper wrapper__headline__large" style="background-image:url('/videos/tm3-video-still.jpg'); background-image:url(/videos/tm3-video-still.jpg);background-repeat:no-repeat;background-position:89% center;background-size:cover;">
      <div class="wrapper__headline__blue index__small"></div>
        <div class="wrapper__background-video">
          <video autoplay  poster="/videos/tm3-video-still.jpg" loop>
            <source src="/videos/tm3-intro-header-video.webm" type="video/webm">
            <source src="/videos/tm3-intro-header-video.mp4" type="video/mp4">
          </video>
        </div>
          <div class="wrapper wrapper__inner index__medium centered__vertical">
            <div class="max--width__headline">
              <h1 class="color__white font--family__secondary font--h1__large">World Leading Private Practice Software For {{ i18n "msk" }} Professionals</h1>
              <div class="spacing--padding-top__large">
                <a href="https://player.vimeo.com/video/203472920" title="" class="font--extra__small btn btn__transparent btn__watch play-video">WATCH VIDEO</a>
                <a href="/why-tm3" title="" class="font--extra__small btn btn__ghost">WHY TM3?</a>
              </div>
            </div>

          </div>

          <div class="header__compatible index__medium">
              <span class="display__inline color__septenary font--extra__medium">Compatible with</span>
              <img src="/images/compatible-with.png" alt="TM3 Private Practice Software Compatibility" class="display__inline" />
          </div>
      </div>


    <div class="wrapper background__white">
        <div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__x-large">
          <div class="max--width__headline centered margin__default">
            <h2 class="color__secondary font--family__primary font--h2__medium">Private Practice Software  <br> Loved By Over 10,000 Practitioners</h2>
            <p class="color__tertiary font--family__primary font--strapline__medium">TM3 combines the power and security of desktop software, with the flexibility of a cloud solution. Whether you're a single practitioner or a multi-functional clinic, TM3 will help you succeed today and tomorrow!</p>
          </div>
        </div>
    </div>

    <div class="wrapper background__white spacing--padding-bottom__xxxx-large">
        <div class="wrapper__inner centered">
          <div class="cols-3 icon__max-width">
            <div class="cols-3__1 centered">
              <div class="icon icon__laptop"></div><!--
              --><div class="icon__copy">
                <h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Freedom To Practice</h3>
              <p class="color__tertiary font--family__primary font--copy__medium">Loved by over 10,000 practitioners, TM3 allows you the freedom to practice anytime, anywhere, on any device.</p>

            </div>
          </div><!--
          --><div class="cols-3__1 centered">
            <div class="icon icon__ruler"></div><!--
            --><div class="icon__copy">
                <h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Beautifully Designed</h3>
              <p class="color__tertiary font--family__primary font--copy__medium"> Extensive collaboration with practitioners across the {{ i18n "msk" }} sector has made TM3 easy to use and extremely clinically minded.</p>
            </div>
          </div><!--
          --><div class="cols-3__1 centered">
            <div class="icon icon__cloud"></div><!--
            --><div class="icon__copy">
                <h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Secure Private Software</h3>
              <p class="color__tertiary font--family__primary font--copy__medium">There’s no need to worry about theft or hardware failure in your clinic, all of your data is stored safely on our {{ i18n "nationality" }} servers.</p>
            </div>
          </div>
          </div>
        </div>
    </div>



    <div class="wrapper background__secondary spacing--padding-top__xxx-large spacing--padding-bottom__xxx-large">
        <div class="wrapper__inner  centered">
          <h2 class="color__white font--h2__medium font--family__primary spacing--padding-bottom__large">Clinic software you need to succeed</h2>
          <div class="flexslider-controls">
          <ul class="flex-control-nav">
              <li title="" class="display__inline color__white font--extra__small font--family__tertiary link__underline__white__thick--hover">ATTRACT PATIENTS</li>
              <li title="" class="display__inline color__white font--extra__small font--family__tertiary link__underline__white__thick--hover">RECEPTION MANAGEMENT</li>
              <li title="" class="display__inline color__white font--extra__small font--family__tertiary link__underline__white__thick--hover">CLINICAL NOTES</li>
              <li title="" class="display__inline color__white font--extra__small font--family__tertiary link__underline__white__thick--hover">PRACTICE MANAGEMENT</li>
              <li title="" class="display__inline color__white font--extra__small font--family__tertiary link__underline__white__thick--hover">PATIENT COMMUNICATION</li>
          </ul>
        </div>
        </div>
        <div class="wrapper">
          <div class="owl slider flexslider wrapper__inner spacing--padding-top__x-large centered__medium background__secondary">
            <ul class="slides">
              <li class="item">
                <div class="cols-5 cols-5--owl">
                  <div class="cols-5__3 cols-5__3--owl">
                    <img src="../images/homepage-slider/patient-journey.png" alt="Attract Patients" class="max--width__slider" />
                  </div><!--
                  --><div class="cols-5__2 cols-5__2--owl">
                    <div class="spacing--padding-top__x-large max--width__owl">
                      <h3 class="color__white font--h3__large font--family__tertiary">Attract Patients</h3>
                      <p class="color__white font--family__secondary spacing--padding-bottom__small font--copy__small">
                        {{ if eq .Site.LanguageCode "en-GB" }}
                          Open your clinic to the power of 24/7 bookings with the exciting Pronto, Online Bookings and 24/7 Reception.
                        {{ else }}
                          Open your clinic to the power of 24/7 bookings with TM3 Online Bookings.
                        {{ end }}
                      </p>
                      <a href="/tour/attract-patients/" title="" class="font--extra__small btn btn__primary">SEE HOW IT WORKS</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="cols-5 cols-5--owl">
                  <div class="cols-5__3 cols-5__3--owl">
                    <img src="../images/homepage-slider/reception.png" alt="Private Practice Software For {{ i18n "msk" }} Receptionists" class="max--width__slider" />
                  </div><!--
                  --><div class="cols-5__2 cols-5__2--owl">
                    <div class="spacing--padding-top__x-large max--width__owl">
                      <h3 class="color__white font--h3__large font--family__tertiary">Reception Management</h3>
                      <p class="color__white font--family__secondary spacing--padding-bottom__small font--copy__small">It's time to kick your practice into shape! With TM3 you've got the tools to streamline your administration and achieve organisational zen.</p>
                      <a href="/tour/reception/" title="" class="font--extra__small btn btn__primary">SEE HOW IT WORKS</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="cols-5 cols-5--owl">
                  <div class="cols-5__3 cols-5__3--owl">
                    <img src="../images/homepage-slider/clinician-experience.png" alt="Clinical Treatment Software" class="max--width__slider" />
                  </div><!--
                  --><div class="cols-5__2 cols-5__2--owl">
                    <div class="spacing--padding-top__x-large max--width__owl">
                      <h3 class="color__white font--h3__large font--family__tertiary">Clinical Treatments</h3>
                      <p class="color__white font--family__secondary spacing--padding-bottom__small font--copy__small">With TM3's industry leading clinical notes you have the functionality to improve treatments whilst reducing valuable time.</p>
                      <a href="/tour/clinical-notes/" title="" class="font--extra__small btn btn__primary">SEE HOW IT WORKS</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="cols-5 cols-5--owl">
                  <div class="cols-5__3 cols-5__3--owl">
                  <img src="../images/homepage-slider/practitioner.png" alt="Practice Management Software"  class="max--width__slider" />
                  </div><!--
                  --><div class="cols-5__2 cols-5__2--owl">
                    <div class="spacing--padding-top__x-large  max--width__owl">
                      <h3 class="color__white font--h3__large font--family__tertiary">Practice Management</h3>
                      <p class="color__white font--family__secondary spacing--padding-bottom__small font--copy__small">Analyse, prioritise and visualise your business like never before with TM3's in-depth reporting and intuitive financing.</p>
                      <a href="/tour/practice-management/" title="" class="font--extra__small btn btn__primary">SEE HOW IT WORKS</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="cols-5 cols-5--owl">
                  <div class="cols-5__3 cols-5__3--owl">
                    <img src="../images/homepage-slider/communications.png" alt="Communication features for your private practice" class="max--width__slider" />
                  </div><!--
                  --><div class="cols-5__2 cols-5__2--owl">
                    <div class="spacing--padding-top__x-large max--width__owl">
                      <h3 class="color__white font--h3__large font--family__tertiary">Patient Communications</h3>
                      <p class="color__white font--family__secondary spacing--padding-bottom__small font--copy__small">Communication has never been easier! Whether you’re interacting with a patient or communicating with an employee, this private practice software has got it covered! </p>
                      <a href="/tour/communication/" title="Communications Tour" class="font--extra__small btn btn__primary">SEE HOW IT WORKS</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="custom-navigation">
          <a href="#" class="flex-prev">Prev</a>
          <a href="#" class="flex-next">Next</a>
        </div>
        </div>
    </div>

    <div class="wrapper background__white spacing--padding-top__xxxxx-large spacing--padding-bottom__xxxx-large graph-rise">
        <div class="wrapper__inner ">
          <div class="cols-2">
            <div class="cols-2__1">
              <h2 class="color__secondary font--family__primary font--h2__medium">Unrivalled Customer Service</h2>
                {{ if eq .Site.LanguageCode "en-GB" }}
                  <p class="color__tertiary font--family__primary font--copy__medium">TM3’s support team are based in the UK and are completely dedicated to helping customers with any queries regarding our private practice software. 98% of clients rated TM3’s customer service at least 3 stars, with 89% rating it a full 5 stars.</p>
                  </div><!--
                  --><div class="cols-2__1 centered">
                    <div class="circle" data-percentage="98">
                      <div id="percent" class="color__tertiary font--family__quaternary font--extra__xxx-large"></div>
                      <div class="circle__topic color__tertiary font--family__secondary font--extra__medium">Customer Satisfaction</div>
                      <svg id="svg"></svg>
                    </div>
                {{ else }}
                  <p class="color__tertiary font--family__primary font--copy__medium">TM3’s support team are based in Melbourne and are completely dedicated to helping customers with any queries regarding our private practice software.
                  Our clients now rate our customer service at 3 starts or above, with 98% rating it a full 5 stars.</p>
                  </div><!--
                  --><div class="cols-2__1 centered">
                    <div class="circle" data-percentage="98">
                      <div id="percent" class="color__tertiary font--family__quaternary font--extra__xxx-large"></div>
                      <div class="circle__topic color__tertiary font--family__secondary font--extra__medium">Customer Satisfaction</div>
                      <svg id="svg"></svg>
                    </div>
                {{ end }}
            </div>
          </div>
        </div>
    </div>

    <div class="wrapper wrapper__blockquote__medium  background__secondary">
        <img src="/images/uploads/testimonial/cameron-steele.jpg" alt="Camerson Steele Testimonial" class="blockquote__banner"/>
        <div class="wrapper wrapper__inner centered__vertical">
          <div class="cols-1 ">
              <div class="wrapper cols-1__halved icon__quote__full-banner float__right">
              <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Thanks to all at TM3 for helping to take our business onto a different level in terms of professionalism and customer care.</blockquote>
              <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Cameron Steele, Physiotherapist at Steele Physio</p>
              <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
            </div>
          </div>
        </div>
    </div>
    <div class="wrapper background__primary spacing--padding-top__x-large spacing--padding-bottom__x-large">
        <div class="wrapper__inner centered">
          <h4 class="color__white font--cta__medium font--family__secondary spacing--padding-bottom__large">Think TM3 could be the right private practice software for your business?</h4>
          <div class="wrapper call-to-action">
            <a href="/book-a-demo/" title="" class="font--family__tertiary font--extra__small btn btn__white">BOOK A DEMO</a>
            <a href="/why-tm3/" title="" class="font--family__tertiary font--extra__small color__white link__arrow">WHY TM3 <span class="link__arrow__icon">&rarr;</span></a>
          </div>
        </div>
    </div>
