<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/paul-barrett.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">The reminder features are great at helping me keep track of phones calls and tasks during a busy day, and the level of support is great as it means that any problems are dealt with quickly and with minimal disruption.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Paul Barrett, Podiatrist at Feet 247 Ltd</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/martin-mcgeough.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Having migrated from an alternative private practice software system, the new software has worked extremely well and all our practitioners have commented on its ease of use.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Martin McGeough, Chiropodist at Apex Clinic</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/tom-fielding.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Since moving to a practice management system filing and storage are major headaches I don’t have to worry about whilst running a busy clinic. What seemed to be a small change in the near term has added up to make significant benefits in the long term.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Tom Fielding, Physiotherapist at Hub Health</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/irene-phillips.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">When you think of the time, therefore money saved when the system is up and running, the small cost of moving with the times is worth every penny. Only wished I had done this years ago.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Irene Phillips, Osteopath at The Care Clinic</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/kay-mclorn.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Having the facility to analyse any of our business progress at the "touch of a button" is instrumental for future planning, allowing us to be efficient and successful.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Kay McLorn, Physiotherapist at Blackstone Physio</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/cameron-steele.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Thanks to all at Blue Zinc for helping to take our business onto a different level in terms of professionalism and customer care.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Cameron Steele, Physiotherapist at Steele Physio</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/rupert-clements.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Blue Zinc support has been great – it’s been available when I’ve needed it and quiet when I’ve not. It’s even had time to discuss the weather in Belfast when I’ve phoned.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Rupert Clements, Chiropractor at C1</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/mark-prudden.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">The product is fantastic and support cannot be faulted. I think you would have to go a very long way to find anything to match the software or the dedication of the support team.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Mark Prudden, Chiropractor at Lowford Clinic</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
    <img src="../images/uploads/testimonial/anne-mcgoldrick.jpg" alt="" class="blockquote__banner"/>
    <div class="wrapper wrapper__inner centered__vertical">
      <div class="cols-1 ">
          <div class="wrapper cols-1__halved icon__quote__full-banner">
          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">In pure clinical terms, recording patient notes is extremely easy, efficient and effective. In terms of reception staff, the diary and daily accounts are easy to use and logical.</blockquote>
          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Anne McGoldrick, Physiotherapist at The Physio Company (Dublin)</p>
          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
        </div>
      </div>
    </div>
</div>
