<div class="wrapper background__white spacing--padding-top__xxx-large">
    <div class="wrapper__inner">
        <div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large">
            <div class="cols-2-spec__1">
                <img src="/images/uploads/our-story-directors.jpg" alt="Blue Zinc Directors in the Blue Zinc Office" />
            </div><!--
            --><div class="cols-2-spec__1 display__inline__middle" id="about">
                <h2 class="font--family__primary color__secondary font--h2__medium">How it all began</h2>
                <p class="color__tertiary font--family__primary font--copy__medium">In 2003, Kyle and Ronnie purchased the rights to an ageing physiotherapy practice management system, Time Machine, together with around 50 paying customers.</p>
                <p class="color__tertiary font--family__primary font--copy__medium">In consultation with those customers, <a href="http://www.blue-zinc.com/" class="basic-content">Blue Zinc IT</a> completely re-built the system from the ground up and TM2 was born. TM2 completely revolutionalised the {{ i18n "msk" }} sector and was seen as the most developed software in the industry...until TM3. TM3 is the latest development in private practice software from Blue Zinc IT and is set to change the way clinics are managed worldwide.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper background__senary">
    <div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__x-large">
        <div class="max--width__headline centered margin__default">
            <h2 class="color__secondary font--family__primary font--h1__large">Physiotherapists, podiatrists, chiropractors, and osteopaths help power the {{ i18n "msk" }} sector, providing excellent care to people around the world.</h2>
            <p class="color__tertiary font--family__primary font--strapline__medium">We want millions of practices to thrive through better private practice software, information and connections. Like all great challenges, we can’t do it by ourselves: we work closely with our clinics, partners, and other industry specialists to push innovation forward, turning TM3 into world leading private practice software for {{ i18n "msk" }} professionals.</p>
        </div>
    </div>
</div>

<div class="wrapper background__white">
    <div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__xxxx-large">
        <div class="max--width__headline centered margin__default">
            <h2 class="color__secondary font--family__primary font--h1__large">Your Opinion Matters</h2>
            <p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__small">TM3 was built with the consultation of customers and practitioners from different areas of the {{ i18n "msk" }} sector, including Physiotherapy, Osteopathy, Podiatry, and Chiropractic.</p>
            <p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">As we hear feedback from our customers, we’re constantly refining what we do to solve more problems and provide more room for innovation. We’d love to hear what challenges you’re facing and how we can help you tackle them. </p>
            <a href="/contact-us/" title="" class="font--extra__small btn btn__tertiary">TELL US HOW WE CAN IMPROVE</a>
        </div>
    </div>
</div>
