

{{ partial "head" . }}

<body>
	<div class="video-wrapper">
		<div class="video-popup">
			<div class="video-wrapper__close"></div>
			<iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	{{ partial "navigation"  (dict "logo" "white") }}

	<div class="wrapper wrapper__master">
		<div class="wrapper wrapper__headline__large" style="background-image:url('/images/uploads/header-lead.jpg'); background-repeat:no-repeat; background-position: center center; background-size: cover;">
		<div class="wrapper__headline__blue"></div>
			<div class="wrapper wrapper__headline__medium" style="padding-top:40px;">
		    <div class="wrapper wrapper__inner centered__vertical ">
				<div class="max--width__headline--top  centered margin__default">
					<div class="cols-2 spacing--margin-top__large">
            <div class="cols-2__1 centered">
							<div class="max--width__owl centered" style="max-width:240px;margin: 0 auto;">
								<img src="/images/uploads/bluezinc-logo.png" ></img>
							</div>
							<p class="color__white font--family__primary font--strapline__medium" style="padding-top:5px">We are a different kind of technology company. Above all, we believe in building exceptional products for our clients</p>
						</div><!--
						--><div class="cols-2__1 centered">
							<div class="centered" style="max-width:280px;margin: 0 auto;">
								<img src="/images/uploads/CollabGlobal.png" style="padding-top:5px"></img>
							</div>
							<p class="color__white font--family__primary font--strapline__medium">Collab Global are proud to be the sole distributor for TM3 industry leading practice management software throughout Australia.</p>
						</div>
				</div>
					<div class="max--width__headline--top  centered margin__default">
					  <ul>
				    	<li class="display__inline "><a href="#about" title="" class="display__inline color__white font--extra__medium font--family__tertiary link__filter link__filter__active">OUR STORY</a></li>
		          <li class="display__inline "><a href="/about-us/work-with-us" title="" class="display__inline color__white font--extra__medium font--family__tertiary link__filter">WORK WITH US</a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
	</div>
</div>
