<div class="wrapper wrapper__master">
    <div class="wrapper wrapper__headline__medium" style="background-image:url('../images/header/clinical-notes-launch.jpg'); background-repeat:no-repeat; background-position: center center; background-size: cover;">
    	<div class="wrapper__headline__blue"></div>
        <div class="wrapper wrapper__inner centered__vertical ">
        	<div class="max--width__headline--top  centered margin__default">
        		<h1 class="color__white font--family__secondary font--h2__medium">Closer Look At Clinical Notes</h1>
        		<p class="color__white font--family__primary font--strapline__medium"><b>TM3's new clinical notes are impressing practitioners nationwide and we want you to join us in celebrating its early success!</b></p>

        	</div>
        </div>
    </div>
</div>


	<div class="wrapper wrapper__master">
		<div class="wrapper background__white spacing--padding-top__x-large">
		    <div class="wrapper__inner">
		    	<div class="cols-2 wrapper spacing--padding-bottom__xxx-large">
		    		<div class="cols-2__1">
						<h1 class="color__secondary font--family__primary font--h2__medium">Celebrate With Us!</h1>
		    			<p class="font--copy__medium color__tertiary">On the 4th May we are inviting clients, like yourself to join us in celebrating the launch of clinical notes. You'll also have the chance to have your say on the future development of TM3. This is a great opportunity to give us your feedback whilst enjoying some fine wine and nibbles. What to expect at the client summit:</p><br>
		    			<ul class="list__ticked">
		    				<li class="color__tertiary font--family__primary font--copy__medium">
	    						<h3 class="font--family__secondary color__secondary">A Closer Look At Clinical Notes</h3>
	    						<p>We promise to dig deep into clinical notes with an in-depth demonstration. It's full potential will be unveiled to all!</p>



	    					</li>

	    					<li class="color__tertiary font--family__primary font--copy__medium">
	    						<h3 class="font--family__secondary color__secondary">Future development</h3>
	    						<p>TM3 is always developing and practitioner feedback is imperative. What would you like to see TM3 do for your practice?</p>
	    					</li>
	    					<li class="color__tertiary font--family__primary font--copy__medium">
	    						<h3 class="font--family__secondary color__secondary">Play around</h3>
	    						<p>At the end of the event you'll have the chance to play around with TM3's clinical notes. </p>
	    					</li>

	    				</ul>

	    				<div class="wrapper wrapper__bordered wrapper__contain">
						<h2 class="color__secondary font--family__primary font--h2__medium">Location And Timings</h2>
	    				<p class="hide-me font--copy__medium color__tertiary">



	    						<B>Time/Date:</b>
	    						<br>7 pm - 9 pm,  Thursday 4th May
	    						<br>
	    						<br><b>Location:</b>
	    						<br><a href="https://www.etcvenues.co.uk/venues/prospero-house"> ETC Venues</a>

	    						<br>Prospero House, 241 Borough High, London

	    						<br>SE1 1GA</b></p>
	    				</div>


		    		</div><!----><div class="cols-2__1">


								<h1 class="color__primary font--family__primary font--h2__medium">RSVP</h1>


							<p class="hide-me font--copy__medium color__tertiary"> Complete the simple form below to reserve your seat:</p>





						<form id="demo-form"  class="hide-me form__sidebar font--extra__medium spacing--padding-top__medium" action="#thank-you">
								<div class="spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Full Name</label>
									<input id="full-name" type="text" name="Name" placeholder="First and last name" required/>
								</div>
								<div class="spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Practice Name</label>
									<input id="practice-name" type="text" name="Practice Name" placeholder="Practice name" required/>
								</div>
							<div class="spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Email Address</label>
									<input id="email-address" type="email" name="Email" placeholder="Email address" required/>
								</div>
								<div class="spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Phone Number</label>
									<input id="phone-number" type="text" name="Phone Number" placeholder="Phone number" required/>
								</div>

								<div class="spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">How many practitoners does your clinic have?</label>
									<span id="practitioners-amount" class="select">
										<select>
											<option>Select Option</option>
											<option>1</option>
											<option>2-5</option>
											<option>6-19</option>
											<option>20+</option>
										</select>
									</span>
								</div>
								<div class="spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">How many guests will you bring?</label>
									<span id="practitioners-amount" class="select">
										<select>
											<option>Select Option</option>
											<option>0</option>
											<option>1</option>
											<option>2-5</option>
											<option>5+</option>

										</select>
									</span>
								</div>
						<div class="spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Are you current TM3/TM2 user?</label>
									<span id="training-type" class="select">
										<select>
											<option>Select Option</option>
											<option>No</option>
											<option>TM3 user</option>
											<option>TM2 User</option>
										</select>
									</span>
								</div>

							<input id="submit-demo-button" type="submit" class="font--small btn btn__primary" value="Book Your Seat" />

								</div>
						<script type="text/javascript" language="javascript">
						window.onload=function() {
							document.getElementById("demo-form").onsubmit=function() {
							 window.location.replace("client-summit-thank-you/");
								return false;
							 }
							}
						</script>
							</form>
						</div>
						</div>
						</div>
						</div>
						</div>
