<div class="wrapper background__white">
			<div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__small">
				<div class="max--width__headline centered margin__default">
					<h2 class="font--family__primary color__primary font--h2__medium">Moving from TM2 to TM3 is a natural progression with multiple benefits.</h2>
					<p class="color__tertiary font--family__primary font--strapline__medium"> TM3 is the future of practice management software, taking everything great from TM2 and adding flexibility and a host of new and exciting features. Listening to the feedback from TM2 clients has allowed us to develop TM3 to a standard which exceeds all other private practice software. We are pretty confident you are going to love it. David Newman, owner and physiotherapist at Hantscare Physiotherapy clinic does. Watch David's video below:</p>
				</div>

			</div>

	</div>


		<div class="wrapper background__white">
					<div class="wrapper wrapper__inner spacing--padding-top__x-large spacing--padding-bottom__x-large">
					<div class="video wrapper">
						<a href="https://player.vimeo.com/video/202191333" title="" class="play-video">
							<div class="video__bg-overlay"></div>
							<div class="video__overlay"></div>
							<img src="/images/uploads/tour/david-newman-clinical.jpg" alt="Multi Device Functionality" />
						</a>
					</div>
				</div>
			</div>

<div class="wrapper background__white">
			<div class="wrapper wrapper__inner spacing--padding-top__xxx-large ">
		<div class="max--width__headline centered margin__default">
				<h2 class="font--family__primary color__primary font--h2__medium">30 reasons to move from TM2 to TM3</h2>
					</div>
		 </div>
</div>


				<div class="wrapper background__white spacing--padding-top__xx-large">
				<div class="wrapper__inner">
					<div class="cols-2-spec wrapper spacing--padding-bottom__large">
						<div class="cols-2-spec__1 ">
						<div class="wrapper wrapper__bordered wrapper__contain">
									<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Top 5</h2>

											<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Flexibility - Access your diary from anywhere</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Access TM3 on multiple devices, including iPad, iMac, tablets etc.</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">No cost for administration staff</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">TM3 Sketchpad - get creative with freehand drawing and annotations</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">New HTML templates with beautiful fonts and a lot more functionality around adding pictures, logos and designing company signatures.</li>


											</ul></div>
										</div><!--
					--><div class="cols-2-spec__1"><div class="wrapper wrapper__bordered wrapper__contain">
					<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Communications</h2>

							<ul class="list__ticked">


												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Location specific confirmation emails</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">3 different SMS delivery options - you can now personalise who the messages are sent from</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Improved email design and functionality, including new fonts and branding opportunities.</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Drag and drop documents onto TM3 for quicky and easy uploading.</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Easily email GP/medical contacts a personalised letter with just a few simple clicks</li>



											</ul>
							</div>
						</div>
					</div>
			</div>

			<div class="wrapper background__white spacing--padding-top__xx-large">
			<div class="wrapper__inner">
				<div class="cols-2-spec wrapper spacing--padding-bottom__large">
					<div class="cols-2-spec__1 ">
					<div class="wrapper wrapper__bordered wrapper__contain ">
									<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Clinical</h2>

											<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Scores and goals - create, set and record scores and goals with your patient</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Fully customisable flags and alerts to suit clinic's circumstances</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Spell check via your browser</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">TM3 Sketchpad - get creative with freehand drawing and annotations</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Previous medical history follows a patient for all cases during their time in your clinic</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Prepoluated medication and vaccinations are listed for you and can be easily customised to suit the way you practice.</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Highlight/summary section of your individual clinical cases</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Greater clinical governance</li>



											</ul></div>
										</div><!--
					--><div class="cols-2-spec__1"><div class="wrapper wrapper__bordered wrapper__contain">
					<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Flexibility</h2>

							<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Access your diary from anywhere</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Access TM3 on multiple devices</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Unlimited concurrent logins</li>
												</ul>
												<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium spacing--padding-top__large">Security</h2>

												<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Improved security auditing</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Timed automatic logout</li>



											</ul>
											<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium spacing--padding-top__large">Support and training</h2>

												<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Live Chat available within TM3</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Knowledge base with how-to videos</li>



											</ul>
								</div>
				</div>
			</div>
	</div>

<div class="wrapper background__white spacing--padding-top__xx-large">
				<div class="wrapper__inner">
					<div class="cols-2-spec wrapper spacing--padding-bottom__large">
						<div class="cols-2-spec__1 ">
						<div class="wrapper wrapper__bordered wrapper__contain">
									<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Administration</h2>

											<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Timed and recurring interactive tasks - add a time to your tasks and assign to different users</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Global Client search (quickly find patient from diary)</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Quick and easy appointment summary in the patient record</li>
											</ul></div>
										</div><!--
					--><div class="cols-2-spec__1"><div class="wrapper wrapper__bordered wrapper__contain">
					<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Clinic Insight</h2>

							<ul class="list__ticked">


												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Gain a snapshot of your clinic activity over the previous 30 days from the dashboard</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Easy export reports (complete with formatting)</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Clever report filtering - split data or remove columns, how you filter your data is up to you</li>

											</ul>
							</div>
						</div>
					</div>
			</div>

			<div class="wrapper background__white spacing--padding-top__xx-large">
				<div class="wrapper__inner">
					<div class="cols-2-spec wrapper spacing--padding-bottom__large">
						<div class="cols-2-spec__1 ">
						<div class="wrapper wrapper__bordered wrapper__contain">
									<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Diary</h2>

											<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Block book events as well as appointments</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">The 'do next screen' - ensures there is always a follow-up to when a patient leaves their session</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">All your 'to-dos' are listed conveniently on your dashboard to help keep you organised</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Diary summary button (quick update as to how the day is going)</li>

											</ul></div>
										</div><!--
					--><div class="cols-2-spec__1"><div class="wrapper wrapper__bordered wrapper__contain">
					<h2 class="color__secondary font--family__tertiary font--h2__medium spacing--padding-bottom__medium">Finance</h2>

							<ul class="list__ticked">


												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Email batch invoices quickly and easily</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Paperless invoicing (email Invoice after each appointment)</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Redesigned invoice wizard for simplified and more effective invoicing</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">Improved authorisation management - manage authorisation codes from the diary and clinical notes</li>

											</ul>
							</div>
						</div>
					</div>
			</div>


<div class="wrapper background__white">
			<div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__xxx-large">
				<div class="max--width__headline  margin__default">
					<h2 class="font--family__primary color__primary font--h2__medium">Moving from TM2 to TM3 is simple!</h2>
					<p class="color__tertiary font--family__primary font--strapline__medium">
										<ul class="list__ticked">

												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">We've already got your data, saving a lot of time and effort for you and us.</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">You'll be assigned a dedicated implementation buddy</li>
												<li class="color__secondary font--family__secondary font--copy__medium spacing--padding-bottom__small">You'll receive a new training plan tailored to your business</li>


											</ul>
						 <p>The above bullet points will ensure your transition to TM3 is as smooth as possible. To kickstart the process, complete the contact form below. Your account manager will call you to arrange a suitable time to explore TM3 and all the benefits it can bring to your clinic.</p>
			</div>
	</div>



	<div class="wrapper background__senary">
				<div class="wrapper wrapper__inner spacing--padding-top__xxx-large spacing--padding-bottom__small ">
					<div class="max--width__headline centered margin__default">
						<h2 class="font--family__primary color__secondary font--h2__medium spacing--padding-bottom__small">Book Your TM3 Demo</h2>
						<p class="hide-me color__tertiary font--family__primary font--copy__medium ">Please submit your information and your TM3 account manage will get in touch with you.</p>
					</div>
				</div>
		</div>



	<div class="wrapper background__senary">
				<div class="wrapper wrapper__inner  spacing--padding-bottom__x-large">
					<div class="max--width__headline centered margin__default">

						<form id="contact-form" class="hide-me form__contact font--extra__medium spacing--padding-top__medium">
							<fieldset>
							<div class="cols-2 text-left">
								<div class="cols-2__1 spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Full Name</label>
									<input id="full-name" type="text" name="Name" placeholder="Your first and last name" required/>
								</div><!--
								--><div class="cols-2__1 spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Practice Name</label>
									<input id="practice-name" type="text" name="Practice Name" placeholder="The name of your practice" required/>
								</div>
							</div>
							<div class="cols-2 text-left">
								<div class="cols-2__1 spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Email Address</label>
									<input id="email-address" type="email" name="Email" placeholder="Your email address" required/>
								</div><!--
								--><div class="cols-2__1 spacing--padding-bottom__medium">
								<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">How many practitoners does your clinic have?</label>
								<span id="practitioners-amount" class="select">
									<select>
										<option>Select Option</option>
										<option>1</option>
										<option>2-5</option>
										<option>6-19</option>
										<option>20+</option>
									</select>
								</span>
								</div>
							</div>
								<div class="cols-2 text-left">
								<div class="cols-2__1 spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Preferred day for a demo</label>
								<span id="demo-day" class="select">
									<select>
										<option>Select Option</option>
										<option>Monday</option>
										<option>Tuesday</option>
										<option>Wednesday</option>
										<option>Thursday</option>
										<option>Friday</option>
									</select>
								</span>

								</div><!--
								--><div class="cols-2__1 spacing--padding-bottom__medium">
									<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Preferred time for a demo</label>
								<span id="demo-time" class="select">
									<select>
										<option>Select Option</option>
										<option>9.00 am - 10.00 am</option>
										<option>10.00 am - 11.00 am</option>
										<option>11.00 am - 12.00 pm</option>
										<option>12.00 pm - 01.00 pm</option>
										<option>01.00 pm - 02.00 pm</option>
										<option>02.00 pm - 03.00 pm</option>
										<option>03.00 pm - 04.00 pm</option>
										<option>04.00 pm - 05.00 pm</option>
									</select>
								</span>
								</div>
							</div>

							<div class="cols-1 spacing--padding-bottom__xx-large text-left">
								<input id="submit-contact-button" type="submit" class="font--extra__small btn btn__tertiary" value="SEND MESSAGE" />
							</div>
						</fieldset>
						</form>
					</div>
				</div>
		</div>
