<div class="wrapper background__senary">
			<div class="wrapper wrapper__inner spacing--padding-top__xxx-large spacing--padding-bottom__small">
				<div id="features"  class="max--width__headline centered margin__default">
					<h2 class="color__secondary  font--family__primary font--h1__large">TM3 Features</h2>
				</div>
			</div>
	</div>

<div class="wrapper background__senary spacing--padding-top__x-large spacing--padding-bottom__x-large">
		<div class="wrapper__inner ">
			<div class="accordion accordion__blue">
				<div class="accordion__wrap accordion__wrap--opened spacing--padding-bottom__small">
					<div class="accordion__title background__senary">
						<h3 class="color__secondary font--family__tertiary font--h3__medium">Attract Patients</h3>
					</div>
					<div class="accordion__content">

					{{ if eq .Site.LanguageCode "en-GB" }}
						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Pronto</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Receive referrals direct to your diary</p>
							</div>
						</div>
						<div class="wrapper__border-top"></div>
					{{ else }}
					{{ end }}

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Online Bookings</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>	Receive bookings 24/7, eliminating tedious administration</p>
							</div>
						</div>


					<div class="wrapper__border-top"></div>

					{{ if eq .Site.LanguageCode "en-GB" }}
						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">24/7 Reception</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>24/7 reception service to handle all your bookings</p>
							</div>
						</div>
						<div class="wrapper__border-top"></div>
					{{ else }}
					{{ end }}

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Text</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Send texts to inform  patients of available appointments</p>
							</div>
						</div>

					<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Creating a Patient</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Create a new patient, whilst creating their booking	</p>
							</div>
						</div>

					<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Diary</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>	Manage all your new appointments on TM3's beautiful diary</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Reports</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>	Stay on top of your business with TM3 reporting</p>
							</div>
						</div>

					</div>
				</div>

				<div class="accordion__wrap accordion__wrap--closed spacing--padding-bottom__small">
					<div class="accordion__title background__senary">
						<h3 class="color__secondary font--family__tertiary font--h3__medium">Reception</h3>
					</div>
					<div class="accordion__content">
						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Diary</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>TM3's diary is perfect for organising your appointments and events</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Appointments</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Whether it’s an existing patient or a new one TM3 makes creating appointments effortless</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Multi Location</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>It's easy to toggle between appointments and report on your finances separately for each location</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Practice Management System</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Patient records are easily accessed and stored securely with TM3</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Quick Pay</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Quick Pay makes receiving payments quick and easy</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Dashboard</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>At a quick glance your receptionist can see a complete administrational overview</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					{{ if eq .Site.LanguageCode "en-GB" }}
						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">24/7 Reception</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>If you’ve not got a receptionist, you can take advantage of TM3’s 24/7 reception services</p>
							</div>
						</div>
						<div class="wrapper__border-top"></div>
					{{ else }}
					{{ end }}

					<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Class Manager</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Organise and manage your classes quickly and easily</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Group Notifications</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Notify groups of appointment updates</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Multi Practitioner View</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>View multiple practitioner diaries on the one screen</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Diary Colour Changing</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Select background/appointment colours</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Diary Month View</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Gain an overview of individual months</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Drag/Drop</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Adjust appointment times using drag/drop</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Suppliers</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Store contact information for suppliers for easy access</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						{{ if eq .Site.LanguageCode "en-GB" }}
						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Postcode Search</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Easily add patient address to record</p>
							</div>
						</div>
						<div class="wrapper__border-top"></div>
						{{ else }}
						{{ end }}

					<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Multi Authorisation Codes</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Link multiple authorisation codes to a patient</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Refund Reasons</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Record why a refund is made</p>
							</div>
						</div>


					</div>
				</div>

				<div class="accordion__wrap accordion__wrap--closed spacing--padding-bottom__small">
					<div class="accordion__title background__senary">
						<h3 class="color__secondary font--family__tertiary font--h3__medium">Practitioner</h3>
					</div>
					<div class="accordion__content">
						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Clinical Notes</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>	Clinical notes are the backbone of TM3 and will become the heart of your clinic.</p>
							</div>
						</div>

					<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">TM3 Sketchpad</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Explore your creative side with live imaging and freehand drawing. </p>
							</div>
						</div>

					<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Scores and Goals</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Simply set an end goal, and score your patient’s progress as treatment develops.</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Previous Medical History</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>This follows a patient for all cases during their time in your clinic.</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Spell Check</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Using TM3 web you can take advantage of your browser's spell check.</p>
							</div>
						</div>

							<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Pre-populated Meds & Vaccinations</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Commonly prescribed medications and vaccinations are listed for you and can be easily customised to suit the way you practice.</p>
							</div>
						</div>

							<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Flags and Alerts</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Keep track of important patient alerts and flag patient records to alert clinic staff of patient specific issues. </p>
							</div>
						</div>



						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Live Imaging</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Capture and upload images of your patients progress</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Annotations</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Add notes directly onto a body chart or live image</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Configurable Templates</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Personalise your clinical notes</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Standardised</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Notes are standardised across all platforms</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Time Stamped</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>All consultations are date and time stamped, ensuring auditing is not an issue</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Touch Screen</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Update your notes using a keyboard or on a touch screen, the option is yours</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Exercise Programs</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>TM3 integrates with different exercise prescription software</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Custom Labels</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Dictate what information you record</p>
							</div>
						</div>


					</div>
				</div>

				<div class="accordion__wrap accordion__wrap--closed spacing--padding-bottom__small">
					<div class="accordion__title background__senary">
						<h3 class="color__secondary font--family__tertiary font--h3__medium">Practice Manager</h3>
					</div>
					<div class="accordion__content">
						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Finances</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>From electronic invoicing
								{{ if eq .Site.LanguageCode "en-GB" }}
									via Healthcode
								{{ else }}
								{{ end }}
								to the most basic transaction, TM3 has it covered</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Reporting</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Built in business reports help you allocate your resources, budget, and measure success</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Practitioner Management</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>TM3 stores all of your practitioner details securely in one place</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Auditing</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Easily capture comprehensive patient admission data</p>
							</div>
						</div>

					<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Analytics</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>All your analytics can be presented on beautiful graphs</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Invoice Wizard</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>TM3’s invoice wizard can automatically generate batch invoices</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Dashboard</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Gain an overview of your business with just a single glance</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Timed Calculations</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Quickly calculate payments received over a time period	</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Class Manager</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Organise and manage your classes quickly and easily</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Bulk Print Invoices</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Print multiple invoices at the click of a button</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					{{ if eq .Site.LanguageCode "en-GB" }}
						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Healthcode</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Electronically invoice via Healthcode direct from TM3</p>
							</div>
						</div>
						<div class="wrapper__border-top"></div>
					{{ else }}
					{{ end }}

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Non working days</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Choose to hide practitioners who are not at work</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Practitioner Specialisms</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Set practitioners to have specialities</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Refund Reasons</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Record why a refund is made</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Manadatory/Default Fields</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Capture the information you need with custom required fields	</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Multi Authorisation Codes</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Link multiple authorisation codes to a patient</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Custom Group Invoice</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Create custom invoices for different groups</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Stock</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Select which stock is available at each location</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Custom Labels</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Dictate what information you record</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Role Manager</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Create custom access notes for your staff</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Diary View Options</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Customise your diary view, change intervals etc</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Diary Colour Changing</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Select background/appointment colours</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Rooms</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Manage the diary by rooms (specialist equipment in certain rooms)</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Appointment Restrictions</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Limit how many appointments can be booked in one time slot</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Diary Month View</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Gain an overview of individual months</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Drag/Drop</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Adjust appointment times using drag/ drop</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Suppliers</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Store contact information for suppliers for easy access</p>
							</div>
						</div>

					</div>
				</div>

				<div class="accordion__wrap accordion__wrap--closed spacing--padding-bottom__small">
					<div class="accordion__title background__senary">
						<h3 class="color__secondary font--family__tertiary font--h3__medium">Communications</h3>
					</div>
					<div class="accordion__content">
						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">SMS Reminders</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Automatically send patient SMS reminders to reduce DNAs</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Letters</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>TM3 comes with an array of customised templates, including patient updates and referral letters</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Email</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Use templates and placeholders to automate emails</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Tasks</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>	Quickly create and assign tasks and reminders to colleagues</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

						{{ if eq .Site.LanguageCode "en-GB" }}
						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">Live Chat</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Connect with TM3’s support team with just one click</p>
							</div>
						</div>
						<div class="wrapper__border-top"></div>
						{{ else }}
						{{ end }}

						<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--copy__medium spacing--padding-top__medium spacing--padding-bottom__medium">2gether</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								<p>Free webinars and an extensive knowledge base, you'll be an expert in no time</p>
							</div>
						</div>

						<div class="wrapper__border-top"></div>

					<div class="cols-4 wrapper ">
							<div class="cols-4__1">
								<h4 class="color__secondary font--family__secondary font--h3__small spacing--padding-top__medium">Support</h4>
							</div><!--
							--><div class="cols-4__3 color__tertiary font--family__primary font--copy__medium">
								{{ if eq .Site.LanguageCode "en-GB" }}
								<p>UK support team with a 98% satisfaction rating</p>
								{{ else }}
								<p>Dedicated Australian support team committed to exceptional customer service</p>
								{{ end }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
