{{ partial "head" . }}

<body>
<div class="video-wrapper">
		<div class="video-popup">
			<div class="video-wrapper__close"></div>
			<iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	{{ partial "navigation"  (dict "logo" "white") }}
	<div class="wrapper wrapper__master">

	    <div class="wrapper wrapper__headline__medium" style="background-image:url('/images/header/header-lead.jpg'); background-repeat:no-repeat; background-position: center center; background-size: cover;">
	    	<div class="wrapper__headline__blue"></div>
	        <div class="wrapper wrapper__inner centered__vertical ">
	        	<div class="max--width__headline--top  centered margin__default">
	        		<h1 class="color__white font--family__secondary font--h2__medium">Pricing</h1>
	        		<p class="color__white font--family__primary font--strapline__medium">See our full list of pricing options for the TM3 private practice software. Whatever your practice needs, we have a solution to suit you</p>
	        	</div>
	        </div>
	    </div>

	    <div class="wrapper  wrapper__shadow-bottom wrapper__sub-navigation">
	        <div class="wrapper wrapper__inner latch">
	        	<nav class="cols-x-spec centered subpage smooth">
	        		<div class="cols-x-spec__1">
		        		<a href="#overview" title="" class="display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium">OVERVIEW</a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="#add-ons" title="" class="display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium">ADD-ONS</a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="#pay-per-click" title="" class="display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium">PAY PER CLICK</a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="#features" title="" class="display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium">FEATURES</a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="#faqs" title="" class="display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium">FAQs</a>
		        	</div>
	        	</nav>
	        </div>
	    </div>
