<div class="wrapper  wrapper__shadow-bottom wrapper__sub-navigation spacing--padding-bottom__medium">
		<div class="wrapper wrapper__inner latch">
			<nav class="cols-x-spec centered subpage">
				<div class="cols-x-spec__1">
					<a href="/tour/attract-patients/" title="" class="icon__subnav icon__subnav__patient-journey display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>ATTRACT PATIENTS</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/reception/" title="" class="icon__subnav icon__subnav__reception display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>RECEPTION</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/clinical-notes/" title="" class="icon__subnav icon__subnav__clinical-experience display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>CLINICAL EXPERIENCE</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/practice-management/" title="" class="icon__subnav icon__subnav__practice-management display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium active-sub"><span>PRACTICE MANAGEMENT</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/communication/" title="" class="icon__subnav icon__subnav__referrals display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>COMMUNICATION</span></a>
				</div>
			</nav>
		</div>
</div>


<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner ">
		<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
			<div class="cols-2-spec__1 centered__vertically  ">
				<h2 class="font--family__primary color__secondary font--h2__medium">Finances</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
					You are attracting more patients and your clinic is operating efficiently, but at the end of the day it all comes down to finances!
					Not to worry, TM3’s got your back - from
					{{ if eq .Site.LanguageCode "en-GB" }}
					electronic invoicing via Healthcode to the most basic transaction,
					{{ else }}
					the most basic transaction to integrated claiming via HICAPS or Medicare and DVA Online,
					{{ end }}
					TM3 has it covered.
				</p>
			</div><!--
			--><div class="cols-2-spec__1 ">
				<img src="/images/uploads/tour/tour-pm-finances.jpg" alt="Finances" />
			</div>
			</div>
			{{ if eq .Site.LanguageCode "en-AU" }}
				<h3 class="font--family__primary color__secondary font--h3__medium">HICAPS (requires desktop interface)</h3>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
					HICAPS integration provides efficient and easy processing of Health Fund, Medicare claims, and EFTPOS transactions, directly via your attached HICAPS terminal.
					Offering a convenient service to your patients, improving your business cash flow and simplifying payment reconciliations.</p>
				<h3 class="font--family__primary color__secondary font--h3__medium">Medicare and DVA Online (requires desktop interface)</h3>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
					Reduce your paperwork, save time and receive payment faster by submitting Medicare and DVA claims online directly through TM3.</p>
			{{ end }}
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
				<h2 class="font--family__primary color__secondary font--h2__medium">Reporting</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">TM3 tracks everything you need to know when it comes to your business goals. Flexible built-in business reports help you allocate your resources, budget effectively and measure your success.</p>
			</div><!--
			--><div class="cols-2-spec__1 float__left__desktop">
				<img src="/images/uploads/tour/tour-pm-reports.jpg" alt="Reporting" />
			</div>
		</div>
	</div>
</div>


<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper wrapper__inner ">
		<div class="wrapper">
			<div class="cols-3 cols-2 spacing--padding-bottom__xxx-large">
				<div class="cols-3__1 cols-3__1-2">
					<div class=""><img src="/images/uploads/tour/tour-pm-analytics.jpg" alt="Analytics" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Analytics</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">All your analytics are can be presented on beautiful graphs giving your reports that professional touch.</p>
			</div><!--
			--><div class="cols-3__1 cols-3__1-2">
				<div class=""><img src="/images/uploads/tour/tour-pm-invoice-wizard.jpg" alt="Invoice Wizard" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Invoice Wizard</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">Using TM3’s invoice wizard you can automatically generate batch invoices saving you valuable time.</p>
			</div><!--
			--><div class="cols-3__1 cols-3__1-2">
				<div class=""><img src="/images/uploads/tour/tour-pm-dashboard.jpg" alt="Dashboard" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Dashboard</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">Gain an overview of your business with just a single glance.</p>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>


<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner ">
		<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
			<div class="cols-2-spec__1 centered__vertically  ">
				<h2 class="font--family__primary color__secondary font--h2__medium">Practitioner Management</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Cut the time it takes to manage practitioners. TM3 stores all of your practitioner details securely in one place, allowing you to manage employees and staff with ease.</p>
			</div><!--
			--><div class="cols-2-spec__1 ">
				<img src="/images/uploads/tour/tour-pm-practitioner-management.jpg" alt="Practitioner Management" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>



<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
				<h2 class="font--family__primary color__secondary font--h2__medium">Auditing</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Easily capture comprehensive patient admission data. Clinical audits can be performed at the touch of a button. Group cases by treatment, area and practitioner.</p>
			</div><!--
			--><div class="cols-2-spec__1 float__left__desktop">
				<img src="/images/uploads/tour/tour-pm-audit.jpg" alt="Auditing" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
<img src="/images/uploads/testimonial/kay-mclorn.jpg" alt="kay mclorn" class="blockquote__banner"/>
<div class="wrapper wrapper__inner centered__vertical">
	<div class="cols-1 ">
			<div class="wrapper cols-1__halved icon__quote__full-banner">
			<blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">Having the facility to analyse any of our business progress at the "touch of a button" is instrumental for future planning, allowing us to be efficient and successful.</blockquote>
			<p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Kay McLorn, Physiotherapist at Blackstone Physio</p>
			<a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
		</div>
	</div>
</div>
</div>
