<div class="wrapper  wrapper__shadow-bottom wrapper__sub-navigation spacing--padding-bottom__medium">
		<div class="wrapper wrapper__inner latch">
			<nav class="cols-x-spec centered subpage">
				<div class="cols-x-spec__1">
					<a href="/tour/attract-patients/" title="" class="icon__subnav icon__subnav__patient-journey display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>ATTRACT PATIENTS</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/reception/" title="" class="icon__subnav icon__subnav__reception display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium active-sub"><span>RECEPTION</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/clinical-notes/" title="" class="icon__subnav icon__subnav__clinical-experience display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>CLINICIAL EXPERIENCE</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/practice-management/" title="" class="icon__subnav icon__subnav__practice-management display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>PRACTICE MANAGEMENT</span></a>
				</div><!--
				--><div class="cols-x-spec__1">
					<a href="/tour/communication/" title="" class="icon__subnav icon__subnav__referrals display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>COMMUNICATION</span></a>
				</div>
			</nav>
		</div>
</div>



<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner ">
		<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
			<div class="cols-2-spec__1 centered__vertically ">
				<h2 class="font--family__primary color__secondary font--h2__medium">Diary</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">With drag drop features, full-colour options, and alert functionality, TM3 provides flexible, easy to use diary management software ensuring efficient organisation of all appointments and events in your practice.</p>
			</div><!--
			--><div class="cols-2-spec__1 ">
				<img src="/images/uploads/tour/tour-reception-diary.jpg" alt="reception diary" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
				<h2 class="font--family__primary color__secondary font--h2__medium">Appointments</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Whether it’s an existing patient or a new one TM3 makes creating appointments effortlessly. For existing patients it’s as simple as searching their name and booking them in. For new patients, simply add their details while creating the appointment to seamlessly create a new patient record.</p>
			</div>
			<div class="cols-2-spec__1 float__left__desktop">
				<img src="/images/uploads/tour/tour-reception-appointment.jpg" alt="appointment bookings" />
			</div>
		</div>
	</div>
</div>




<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper wrapper__inner ">
		<div class="wrapper">
			<div class="cols-3 cols-2 spacing--padding-bottom__xxx-large">
				<div class="cols-3__1 cols-3__1-2">
					<div class=""><img src="/images/uploads/tour/tour-reception-quickpay.jpg" alt="quickpay" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Quick Pay</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">Quick Pay makes receiving payments quick and easy.</p>
			</div><!--
			--><div class="cols-3__1 cols-3__1-2">
				<div class=""><img src="/images/uploads/tour/tour-reception-dashboard.jpg" alt="TM3 dashboard" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Dashboard</h3>
				<p class="color__tertiary font--family__primary font--copy__medium">At a quick glance, your receptionist can see a complete administration overview.</p>
			</div><!--
			-->
			{{ if eq .Site.LanguageCode "en-GB" }}
				<div class="cols-3__1 cols-3__1-2">
					<div class=""><img src="/images/uploads/tour/tour-reception-small-box.jpg" alt="24/7 Reception" /></div>
						<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">24/7 Reception</h3>
					<p class="color__tertiary font--family__primary font--copy__medium">If you’ve not got a receptionist, not to worry. Take advantage of TM3’s 24/7 reception services.</p>
				</div>
			{{/* {{else}}
				<div class="cols-3__1 cols-3__1-2">
					<div class=""><img src="/images/uploads/tour/tour-reception-small-box.jpg" alt="24/7 Reception" /></div>
					<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Placeholder</h3>
					<p class="color__tertiary font--family__primary font--copy__medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sollicitudin.</p>
				</div> */}}
			{{end}}
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>


<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner ">
		<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
			<div class="cols-2-spec__1 centered__vertically  ">
				<h2 class="font--family__primary color__secondary font--h2__medium">Multi Location</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Separate calendar views make it easy on your reception no matter how many locations you have. It's easy to toggle between appointment books and report on your finances separately for each location. </p>
			</div><!--
			--><div class="cols-2-spec__1 ">
				<img src="/images/uploads/tour/tour-reception-multi-location.jpg" alt="Multi Location" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

<div class="wrapper background__white spacing--padding-top__xxx-large">
	<div class="wrapper__inner">
		<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
			<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
				<h2 class="font--family__primary color__secondary font--h2__medium">Patient Management System</h2>
				<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">With TM3 patient management software, take the hassle and margin for error away from managing the daily flow of patients as your patient data is securely stored and easily accessible.</p>
			</div><!--
			--><div class="cols-2-spec__1  float__left__desktop">
				<img src="/images/uploads/tour/tour-reception-patient-management-system.jpg" alt="Patient Management System" />
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper__blockquote__medium  background__secondary">
	<img src="/images/uploads/testimonial/paul-barrett.jpg" alt="Paull Barrett" class="blockquote__banner"/>
	<div class="wrapper wrapper__inner centered__vertical">
		<div class="cols-1 ">
				<div class="wrapper cols-1__halved icon__quote__full-banner float__right">
				<blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">The reminder features are great at helping me keep track of phones calls and tasks during a busy day, and the level of support is great as it means that any problems are dealt with quickly and with minimal disruption.</blockquote>
				<p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Paul Barrett, Podiatrist at Feet 247 Ltd</p>
				<a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
			</div>
		</div>
	</div>
</div>
