<div class="wrapper background__primary spacing--padding-top__x-large spacing--padding-bottom__x-large">
		<div class="wrapper__inner centered">
			<h4 class="color__white font--cta__medium font--family__secondary spacing--padding-bottom__large">Think TM3 could be right for your business?</h4>
			<div class="wrapper call-to-action">
				<a href="/book-a-demo/" title="" class="font--family__tertiary font--extra__small btn btn__white">BOOK A DEMO</a>
				<a href="/pricing/" title="" class="font--family__tertiary font--extra__small color__white link__arrow">SEE PRICING <span class="link__arrow__icon">&rarr;</span></a>
			</div>
		</div>
</div>

{{ partial "foot" . }}
