<div class="wrapper wrapper__master header__plain">
	<div class="wrapper background__white spacing--padding-top__xxx-large">
			<div class="wrapper__inner">
				<div class="cols-1 max--width__copy wrapper spacing--padding-bottom__xxx-large">
					<h1 class="font--family__primary color__secondary font--h2__medium spacing--padding-bottom__large">General Terms & Conditions</h1>
					<div class="color__secondary font--family__primary font--copy__large basic-content">
					<p>TM2/TM3 products and services are intended for business use only, not for consumers.</p>
					<p>Your use of any TM2/TM3 software is governed by the terms and conditions of one or more software licences, software and service usage terms and conditions agreements and (where you also subscribe to our customer support service), a Support Agreement. All software licenses and agreements are listed on this web page or can be requested by contacting us. You are agreeing to the terms of these licenses and agreements once you purchase, subscribe to, or use our software.</p>
					<p>Any other third party products or services described on our site are supplied by the relevant third party and subject to that third party’s terms and conditions. Even where third party products or services are co–branded by us, we do not endorse them, warrant the accuracy of third party information about those products or services, or warrant the quality or suitability of those products or services for your use.</p>
					<p>You can download the appropriate document by clicking on the links below:</p>
					<ul>
						<li><a href="/downloads/TM3License.pdf" title="TM3 Software License" download>TM3 Software License</a></li>
						<li><a href="/downloads/TM2License.pdf" title="TM2 Software License" download>TM2 Software License</a></li>
						<li><a href="/downloads/HostedTerms.pdf" title="TM2 Hosted Terms & Conditions" download>TM2/TM3 Hosted Terms & Conditions</a></li>
						<li><a href="/downloads/SupportTerms.pdf" title="TM2 Support Terms & Conditions" download>TM2/TM3 Support Terms & Conditions</a></li>
						<li><a href="/downloads/OnlineTerms.pdf" title="Online Terms & Conditions" download>Online Terms & Conditions</a></li>
						<li><a href="/downloads/TextTerms.pdf" title="Text Terms & Conditions" download>Text Terms & Conditions</a></li>
						<li><a href="/downloads/PostcodeTerms.pdf" title="Postcode Terms & Conditions" download>Postcode Terms & Conditions</a></li>
						<li><a href="/downloads/DataConfidentiality.pdf" title="Data Confidentiality" download>Data Confidentiality</a></li>
						<li><a href="/downloads/HealthcodeTerms.pdf" title="Healthcode Terms & Conditions" download>Healthcode Terms & Conditions</a></li>
						<li><a href="/downloads/ReceptionTerms.pdf" title="Reception Company Services Terms & Conditions" download>Reception Company Services Terms & Conditions</a></li>
						<li><a href="/downloads/ProntoTerms.pdf" title="Pronto Network Terms & Conditions" download>Pronto Network Terms & Conditions</a></li>
					</ul>
					</div>
				</div>
			</div>
	</div>
