<div class="wrapper background__senary">
			<div class="wrapper wrapper__inner spacing--padding-top__xxx-large spacing--padding-bottom__x-large ">
				<div class="max--width__headline centered margin__default">
					<h2 class="font--family__primary color__secondary font--h2__medium spacing--padding-bottom__small">We'd love to hear from you</h2>
					<p class="hide-me color__tertiary font--family__primary font--copy__medium ">Please submit your information and a TM3 representative will get in touch with you.</p>
				</div>
			</div>
	</div>
<div class="wrapper background__senary">
			<div class="wrapper wrapper__inner  spacing--padding-bottom__xxxx-large">
				<div class="max--width__headline centered margin__default">
					<h2 id="thank-you" class="hidden"> Thank you for your enquiry. We will be in touch soon. </h2>
					<form id="contact-form" class="hide-me form__contact font--extra__medium spacing--padding-top__medium">
						<fieldset>
						<div class="cols-2 text-left">
							<div class="cols-2__1 spacing--padding-bottom__medium">
								<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Full Name</label>
								<input id="full-name" type="text" name="Name" placeholder="Your first and last name" required/>
							</div><!--
							--><div class="cols-2__1 spacing--padding-bottom__medium">
								<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Practice Name</label>
								<input id="practice-name" type="text" name="Practice Name" placeholder="The name of your practice" required/>
							</div>
						</div>
						<div class="cols-2 text-left">
							<div class="cols-2__1 spacing--padding-bottom__medium">
								<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Email Address</label>
								<input id="email-address" type="email" name="Email" placeholder="Your email address" required/>
							</div><!--
							--><div class="cols-2__1 spacing--padding-bottom__medium">
								<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Telephone Number</label>
								<input id="phone-number" type="text" name="Phone number" placeholder="Your phone number"/>
							</div>
						</div>
						<div class="cols-2 text-left">
							<div class="cols-2__1 spacing--padding-bottom__medium">
								<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small" >What is your enquiry about?</label>
								<span class="select">
									<select id="enquiry-source" name="enquiry source" required>
										<option>Select topic</option>
										<option>TM2</option>
										<option>TM3</option>
									</select>
								</span>
							</div>
							<div class="cols-2__1 spacing--padding-bottom__medium">
								<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">State</label>
								<span id="state" class="select">
									<select>
										<option disabled selected>Your State</option>
										<option>ACT</option>
										<option>NSW</option>
										<option>NT</option>
										<option>QLD</option>
										<option>SA</option>
										<option>TAS</option>
										<option>VIC</option>
										<option>WA</option>
									</select>
								</span>
							</div>
						</div>
						<div class="cols-1 spacing--padding-bottom__medium text-left">
							<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small" >Let us know how we can help</label>
							<textarea id="message-content" placeholder="Your message here" name="Message" required></textarea>
						</div>
						<div class="cols-1 spacing--padding-bottom__medium text-left">
							<input id="submit-contact-button" type="submit" class="font--extra__small btn btn__tertiary" value="SEND MESSAGE" />
						</div>
					</fieldset>

					</form>
				</div>
			</div>
	</div>
