

	    <div class="wrapper  wrapper__shadow-bottom wrapper__sub-navigation spacing--padding-bottom__medium">
	        <div class="wrapper wrapper__inner latch">
	        	<nav class="cols-x-spec centered subpage">
	        		<div class="cols-x-spec__1">
		        		<a href="/tour/attract-patients/" title="" class="icon__subnav icon__subnav__patient-journey display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>ATTRACT PATIENTS</span></a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="/tour/reception/" title="" class="icon__subnav icon__subnav__reception display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>RECEPTION</span></a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="/tour/clinical-notes/" title="" class="icon__subnav icon__subnav__clinical-experience display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>CLINICAL EXPERIENCE</span></a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="/tour/practice-management/" title="" class="icon__subnav icon__subnav__practice-management display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium"><span>PRACTICE MANAGEMENT</span></a>
		        	</div><!--
		        	--><div class="cols-x-spec__1">
		        		<a href="/tour/communication/" title="" class="icon__subnav icon__subnav__referrals display__block color__secondary font--family__tertiary font--extra__small spacing--padding-top__medium spacing--padding-bottom__medium active-sub"><span>COMMUNICATION</span></a>
		        	</div>
	        	</nav>
	        </div>
	    </div>


		<div class="wrapper background__white spacing--padding-top__xxx-large">
		    <div class="wrapper__inner ">
		    	<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large">
		    		<div class="cols-2-spec__1 centered__vertically ">
		    			<h2 class="font--family__primary color__secondary font--h2__medium">TM3 Text</h2>
							{{ if eq .Site.LanguageCode "en-GB" }}
							<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">TM3 is setup with automatic text reminders to help combat the menacing DNA.
							Even better, set up automatic notifications that let clients know whenever someone cancels and a spot from the waiting list opens up. This simple feature can reduce your DNAs by up to 90%! </p>
							{{ else }}
							<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">TM3 includes text reminders to help combat the menacing DNA. This simple feature can reduce your DNAs by up to 90%!</p>
							{{ end}}
		    		</div><!--
		    		--><div class="cols-2-spec__1 ">
		    			<img src="/images/uploads/tour/tour-communication-text.jpg" alt="Text Reminders" />
		    		</div>
		    	</div>
		    </div>
		</div>



		<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>



		<div class="wrapper background__white spacing--padding-top__xxx-large">
		    <div class="wrapper__inner">
		    	<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
		    		<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
		    			<h2 class="font--family__primary color__secondary font--h2__medium">Letters</h2>
		    			<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">TM3 comes with an array of customised templates, including patient updates and referral letters, making it simple to communicate with your patients or third parties.</p>
		    		</div><!--
		    		--><div class="cols-2-spec__1 float__left__desktop">
		    			<img src="/images/uploads/tour/tour-communication-letter.jpg" alt="Letters" />
		    		</div>
		    	</div>
		    </div>
		</div>


		<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>

		<div class="wrapper background__white spacing--padding-top__xxx-large">
		    <div class="wrapper wrapper__inner ">
		    	<div class="wrapper">
			    	<div class="cols-3 cols-2 spacing--padding-bottom__xxx-large">
			    		<div class="cols-3__1 cols-3__1-2">
			    			<div class=""><img src="/images/uploads/tour/tour-communication-live-chat.jpg" alt="Live Chat" /></div>
			    			<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Live Chat</h3>
							<p class="color__tertiary font--family__primary font--copy__medium">Got a query? Connect with TM3’s support team with just one click.</p>
						</div><!--
						--><div class="cols-3__1 cols-3__1-2">
							<div class=""><img src="/images/uploads/tour/tour-communication-2gether.jpg" alt="2gether" /></div>
			    			<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">2gether</h3>
							<p class="color__tertiary font--family__primary font--copy__medium">With TM3, you are always just one click away from a support portal that hosts all your training needs.</p>
						</div><!--
						--><div class="cols-3__1 cols-3__1-2">
							<div class=""><img src="/images/uploads/tour/tour-communication-support.jpg" alt="Support" /></div>
			    			<h3 class="color__secondary font--family__tertiary font--h3__small spacing--padding-top__medium">Support</h3>
							<p class="color__tertiary font--family__primary font--copy__medium">
								{{ if eq .Site.LanguageCode "en-GB" }}
									98% of clients have rated our support 3 stars or above, with 86% giving us 5 stars.
								{{ else }}
									Our dedicated Australian support team are committed to providing you with exceptional customer service and a positive experience.
								{{ end }}
							</p>
						</div>
			    	</div>
			    </div>
		    </div>
		</div>

		<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>


		<div class="wrapper background__white spacing--padding-top__xxx-large">
		    <div class="wrapper__inner ">
		    	<div class="cols-2-spec wrapper spacing--padding-bottom__xxx-large ">
		    		<div class="cols-2-spec__1 centered__vertically  ">
		    			<h2 class="font--family__primary color__secondary font--h2__medium">Emails</h2>
		    			<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Sending an email is easy with TM3. With a selection of templates and multiple placeholders at your disposal, the key information is already there for you.</p>
		    		</div><!--
		    		--><div class="cols-2-spec__1 ">
		    			<img src="/images/uploads/tour/tour-communication-email.jpg" alt="Emails" />
		    		</div>
		    	</div>
		    </div>
		</div>

		<div class="wrapper"><div class="wrapper__inner"><div class="wrapper__border-bottom"></div></div></div>



		<div class="wrapper background__white spacing--padding-top__xxx-large">
		    <div class="wrapper__inner">
		    	<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large  float">
		    		<div class="cols-2-spec__1 centered__vertical--tweak display__inline__middle">
		    			<h2 class="font--family__primary color__secondary font--h2__medium">Tasks</h2>
		    			<p class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">Never forget a task again! Quickly create and assign tasks and reminders to colleagues helping increase efficiency and harmony within the clinic.</p>
		    		</div><!--
		    		--><div class="cols-2-spec__1 float__left__desktop">
		    			<img src="/images/uploads/tour/tour-communication-tasks.jpg" alt="Tasks" />
		    		</div>
		    	</div>
		    </div>
		</div>


	<div class="wrapper wrapper__blockquote__medium  background__secondary">
	    <img src="/images/uploads/testimonial/anne-mcgoldrick.jpg" alt="anne mcgoldrick" class="blockquote__banner"/>
	    <div class="wrapper wrapper__inner centered__vertical">
	      <div class="cols-1 ">
	          <div class="wrapper cols-1__halved icon__quote__full-banner">
	          <blockquote class="wrapper color__white font--blockquote__medium font--family__tertiary">In pure clinical terms, recording patient notes is extremely easy, efficient and effective. In terms of reception staff, the diary and daily accounts are easy to use and logical.</blockquote>
	          <p class="color__white font--extra__medium font--family__secondary spacing--padding-bottom__small">Anne McGoldrick, Physiotherapist at The Physio Company (Dublin)</p>
	          <a href="/success-stories/" title="" class="font--extra__small btn btn__primary">READ ABOUT OTHERS WHO LOVE USING TM3</a>
	        </div>
	      </div>
	    </div>
	</div>
