<div class="wrapper wrapper__master header__plain">
<div class="wrapper background__white spacing--padding-top__x-large">
		<div class="wrapper__inner">
			<div class="cols-2 wrapper spacing--padding-bottom__xxx-large">
				<div class="cols-2__1">
				<h1 class="color__secondary font--family__primary font--h2__medium">Discover TM3</h1>
					<p class="hide-me font--copy__medium color__tertiary">Complete the form below and we'll be in contact to arrange a suitable time for you to receive a demonstration of TM3.</p>
					<div id="thank-you" class="hidden">
						<br>
						<h2 > Thank you for your enquiry. We'll be in touch ASAP to organise a demonstration of TM3. Enjoy the rest of your conference.</h2>
					</div>

				<form id="demo-form"  class="hide-me form__sidebar font--extra__medium spacing--padding-top__medium">
						<div class="spacing--padding-bottom__medium">
							<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Full Name</label>
							<input id="full-name" type="text" name="Name" placeholder="Your First and Last Name" required/>
						</div>
						<div class="spacing--padding-bottom__medium">
							<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Practice Name</label>
							<input id="practice-name" type="text" name="Practice Name" placeholder="Your Practice's Name" required/>
						</div>
					<div class="spacing--padding-bottom__medium">
							<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Email Address</label>
							<input id="email-address" type="email" name="Email" placeholder="Your Email Address" required/>
						</div>
						<div class="spacing--padding-bottom__medium">
							<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Phone Number</label>
							<input id="phone-number" type="text" name="Phone Number" placeholder="Your Phone Number" required/>
						</div>

						<div class="spacing--padding-bottom__medium">
							<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">How many practitoners does your clinic have?</label>
							<span id="practitioners-amount" class="select">
								<select>
									<option>Select Option</option>
									<option>1</option>
									<option>2-5</option>
									<option>6-19</option>
									<option>20+</option>
								</select>
							</span>
						</div>
						<div class="cols-1 spacing--padding-bottom__medium text-left">
							<label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small" >Notes</label>
							<textarea id="message-content" placeholder="Your message here" name="Message" required></textarea>
						</div>
						<div class="">
							<input id="submit-demo-button" type="submit" class="font--extra__small btn btn__primary" value="BOOK A DEMO" />
						</div>

					</form>
				</div><!--
				--><div class="cols-2__1">
					<h2 class="font--copy__medium font--family__secondary color__tertiary spacing--padding-top__x-large spacing--padding-bottom__large">WHY CHOOSE TM3</h2>
					<ul class="list__ticked">
						<li class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
							<h3 class="font--family__secondary color__secondary">The Complete Solution</h3>
							<p>TM3 is modern and intuitive private practice software that helps streamline your day, so you spend less time on administration and more time treating patients. From attracting new patients to your practice, to ensuring your clinical notes comply with industry regulations, TM3's got your back!</p>
						</li>
						<li class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
							<h3 class="font--family__secondary color__secondary">As Flexible As You</h3>
							<p>TM3's flexibility allows you to practice with freedom. Use TM3 anywhere, at anytime on multiple devices including iPads, laptops and iMacs. TM3 works around you and before you know it will be an extension of your treatments as well as the administrational backbone of your practice.</p>
						</li>
						<li class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
							<h3 class="font--family__secondary color__secondary">Safe Hands</h3>
							<p>You'll be in the hands of TM3 experts who are highly trained to deal with a range problems.</p>
						</li>
						<li class="color__tertiary font--family__primary font--copy__medium spacing--padding-bottom__medium">
							<h3 class="font--family__secondary color__secondary">Beautifully Designed</h3>
							<p>Our world leading software design is based on extensive collaboration with practitioners across the {{ i18n "msk" }} sector, making it easy to use, and extremely clinically minded. </p>
						</li>

					<ul>
				</div>
			</div>
		</div>
</div>
