<div class="wrapper background__primary ">
	<div class="wrapper " style="background-image:url('../images/pozitiff/back_new.png'); background-repeat:no-repeat; background-position: center center; background-size: cover;">
			<div class="centered wrapper wrapper__inner ">
					<p class="color__white font--family__primary font--strapline__medium v_footer_contact_title">Want to know more about moving to TM3 or any of our additional features?<br>
						<strong>Call 028 90 998696 NOW</strong>
					</p>
					<a href="#" class="font--extra__small btn btn__white v-block_btn">CONTACT US NOW</a>
			</div>
	</div>
</div>

{{ partial "foot" . }}
