<div class="wrapper background__white spacing--padding-top__xxx-large">
		<div class="wrapper__inner ">
			<div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large">

					<h2 class="font--family__primary v-upgraiding">Thinking Of Upgrading To TM3?</h2>

			</div>
		</div>
</div>


	<div class="wrapper background__senary">
				<div class="wrapper wrapper__inner spacing--padding-top__xxxx-large spacing--padding-bottom__xxxx-large">
					<div class=" centered margin__default v-block-cont">
							<div class="v-block">
										<img src="../images/pozitiff/icon_flexibility.svg" alt="icon_flexibility">
										<h2 class="v-block_title">Flexibility
										</h2>
										<p class="v-block_paragraph">Access TM3 anytime, anywhere and on multiple devices.</p>
							</div>
							<div class="v-block">
								<img src="../images/pozitiff/icon_multi-tab.svg" alt="icon_multi-tab">
								<h2 class="v-block_title">Multi-Tab
								</h2>
								<p class="v-block_paragraph">Move through tasks and screens simultaneously using TM3 on multiple tabs.</p>
							</div>
							<div class="v-block">
								<img src="../images/pozitiff/icon_instantoverview.svg" alt="icon_instantoverview">
								<h2 class="v-block_title">Instant Overview
								</h2>
								<p class="v-block_paragraph">Use your dashboard to monitor your clinic operations.</p>
							</div>
							<div class="v-block">
										<img src="../images/pozitiff/icon_improvedtasks.svg" alt="icon_improvedtasks">
										<h2 class="v-block_title">Improved Tasks
										</h2>
										<p class="v-block_paragraph">Keep your team organised through tasks.</p>
							</div>
							<div class="v-block">
								<img src="../images/pozitiff/icon_intuitiveclinicalnotes.svg" alt="icon_intuitiveclinicalnotes">
								<h2 class="v-block_title">Intuitive Clinical Notes
								</h2>
								<p class="v-block_paragraph">Improved from Touch, easy to use, quick and interactive with additional features.</p>
							</div>
							<div class="v-block">
								<img src="../images/pozitiff/icon_livechatsupport.svg" alt="icon_livechatsupport">
								<h2 class="v-block_title">Live Chat Support
								</h2>
								<p class="v-block_paragraph">Built into your TM3, you can get an answer to a query in around 60 seconds.</p>
							</div>
							<a href="#" title="" class="font--extra__small btn btn__primary v-block_btn">FIND OUT MORE ABOUT UPGRADING</a>
					</div>
				</div>
		</div>

		<div class="wrapper background__white spacing--padding-top__xxx-large">
				<div class="wrapper__inner">
					<h2 class="font--family__primary v-upgraiding v-upgraiding-title">Remember we said that upgrading was easy?<br> Here are your 6 simple steps that will help you upgrade from TM2-TM3.</h2>
					<div class="v-row">
						<div class=" centered margin__default v-block-cont v-block-cont_blue">
								<!-- <div class="v-block"> -->
									<div class="v-block_border ">
										<p class="v-block_border_number">1</p>
										<p class="v-block_border_paragraph">Complete an enquiry form. We will get in contact with you to find out what you want TM3 to do for you.</p>
									</div>
									<div class="v-block_border " >
										<p class="v-block_border_number">2</p>
										<p class="v-block_border_paragraph">Have a demo with one of our team. We will show you all of the new features and improvements from TM2.</p>
									</div>
									<div class="v-block_border ">
										<p class="v-block_border_number">3</p>
										<p class="v-block_border_paragraph">Bespoke Pricing – We will look at your clinic’s circumstances and get the best tailored price for your needs.</p>
									</div>

									<div class="v-block_border ">
										<p class="v-block_border_number">4</p>
										<p class="v-block_border_paragraph">Sign up with TM3 – Welcome!</p>
									</div>
									<div class="v-block_border ">
										<p class="v-block_border_number">5</p>
										<p class="v-block_border_paragraph">Technical Upgrade – Depending on your current set up, you could experience zero down time. We will make sure your data is transferred safely from TM2 to TM3.</p>
									</div>
									<div class="v-block_border ">
										<p class="v-block_border_number">6</p>
										<p class="v-block_border_paragraph">You’re ready to go!
											You are now ready to get the best from our innovative TM3 software.</p>
									</div>

							</div>
							<div class="blue_cont_btn">
								<a href="#" title="" class="font--extra__small btn btn__primary v-block_btn">TALK TO US ABOUT UPGRADING</a>
							</div>
						</div>

				</div>
		</div>

<div class="wrapper background__gray ">
		<div class="wrapper__inner">
					<h2 class="font--family__primary v-additional_title">Additional Features</h2>
					<p class="v-additional_paragraph">Here are some of our favourite things about TM3</p>
		</div>
</div>
<div class="wrapper ">
		<div class="wrapper__inner">
				<div class="centered margin__default v-product">
						<div class="v-product_list">
								<img src="../images/pozitiff/p1@2x.jpg" alt="p1@2x">
								<div class="v-product_list_cnt-text">
										<h2 class="cnt-text_title">Online Bookings</h2>
										<p class="cnt-text_paragraph">
											Open up your clinic to receiving bookings 24/7 whilst eliminating
											tedious administration. Why not take advantage of this feature
											for only £5 per practitioner per month?<br>
											For more info about benefits of online bookings check out our blog:
										</p>
										<p class="cnt-text_paragraph">
												https://www.tm3practice management.com/learning/inside-tm3-blog/tm3-online-bookings/
										</p>
								</div>
						</div>
						<div class="v-product_list">
								<img src="../images/pozitiff/p2@2x.jpg" alt="p2@2x">
								<div class="v-product_list_cnt-text">
										<h2 class="cnt-text_title">Text Reminders</h2>
										<p class="cnt-text_paragraph">
										“TM3 is set up with automatic reminders to help combat those pesky DNAs. You only pay for the texts you send meaning the control of the cost is down to you. Make the most of your client communications, keeping them up to date as well as ensuring they don’t miss the appointment to help their recovery.
										</p>
								</div>
						</div>
						<div class="v-product_list">
								<img src="../images/pozitiff/p3@2x.jpg" alt="p3@2x">
								<div class="v-product_list_cnt-text">
										<h2 class="cnt-text_title">TM3 Clinical Notes</h2>
										<p class="cnt-text_paragraph">
											TM3 Clinical Notes works for you by allowing you to capture quick and easy notes without sacrificing important interaction with patients. Annotate a photo or one of our pre loaded body charts to explain your client’s condition. Save time with easily accessible Previous Medical History and configurable templates which allow you to securely and accurately record your treatment notes. TM3 Clinical Notes are configured for your clinic’s needs.
										</p>
								</div>
						</div>
						<p class="v-product_call">Call 028 90 998696 to find out more or click below.</p>
							<a href="#" class="font--extra__small btn btn__primary v-block_btn">TELL ME MORE ABOUT ADDITIONAL FEATURES</a>
				</div>
		</div>
</div>
