{{ partial "head" . }}

<body>
<div class="video-wrapper">
	<div class="video-popup">
		<div class="video-wrapper__close"></div>
		<iframe frameborder='0' height='465px' width='470px' scrolling='no' src='' frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{{ partial "navigation"  (dict "logo" "white") }}
<div class="wrapper wrapper__master">
    <div class="wrapper v_head" style="background-image:url('../images/pozitiff/back_new.png'); background-repeat:no-repeat; background-position: center center; background-size: cover;">

        <div class="wrapper wrapper__inner centered__vertical ">
        		<p class="color__white font--family__primary font--strapline__medium v_head_text">Here at TM3, we want to make sure that you have all the tools you need to get the most from your clinic. Whether you want to upgrade from TM2 to TM3 or want to explore additional features, we are here to help.</p>
        </div>
    </div>
