<div class="wrapper background__white spacing--padding-top__large">
	<div class="wrapper__inner">
		<ul class="link__breadcrumbs">
			<li class="display__inline display__inline color__secondary font--extra__small font--family__tertiary">LEARNING</li><span class="display__inline color__primary font--extra__small font--family__tertiary">|</span><li class="display__inline display__inline color__secondary font--extra__small font--family__tertiary">GETTING STARTED</li>
		</ul>
	</div>
</div>

<div class="wrapper background__white spacing--padding-top__medium">
	<div class="wrapper__inner">
		<div class="cols-3 wrapper spacing--padding-bottom__xxx-large">
			<div class="cols-3__2">
				<div class="color__secondary font--family__primary font--copy__large basic-content">
					<p>We understand that implementing a new software package is a big step. Whenever you signup with TM3, you will get your own dedicated ‘implementation buddy’ to help you up and running. </p>
					<p>Your TM3 implementation buddy helps you plan the installation and implementation of your system, and the training of your staff by analyzing your office flow, hardware, and current private practice software. You will receive a tailored implementation plan specifically for your practice. </p>

					<h2>Data Migration</h2>
					<p>TM3 can convert current patient data from almost any existing system. TM3 supports a variety of Microsoft Windows operating systems so you can incorporate existing servers and workstations that meet the minimum requirements in order to minimize the cost of your hardware investment. </p>
					<p>Find the specific list of <a href="/downloads/tm3-hardware-requirements.pdf" title="" target="_blank">hardware requirements</a> or discuss it with us, call us on
					<a href="{{ i18n "tel" | safeURL }}">{{ i18n "phone" }}</a>
					.</p>
				</div>
			</div><!--
			--><div class="cols-3__1">

			</div>
		</div>
	</div>
</div>
