<div class="wrapper background__senary">
      <img src="/images/uploads/careers/office-pano.jpg" alt="Blue Zinc " class="center" />
</div>


<div class="wrapper background__white spacing--padding-top__xxx-large">
  <div class="wrapper__inner">
    <div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large">
      <div class="cols-2-spec__1">
        <h2 class="font--family__primary color__secondary font--h2__medium">Be part of something fun and incredible! From movie clubs to treasure hunts, working at Blue Zinc IT is simply awesome!</h2>
      </div><!--
      --><div class="cols-2-spec__1 display__inline__middle">
        <p class="color__tertiary font--family__primary font--copy__medium">We're proud of the supportive, team-oriented, and fun culture that has evolved at Blue Zinc. It is at the core of everything we do.</p>
        <p class="color__tertiary font--family__primary font--copy__medium">Over the years, we've been really lucky with the people that have joined our team. We hire for passion and commitment first. We look for people who want to create and sell game changing products.</p>
      </div>
    </div>
  </div>
</div>
