<div class="wrapper background__white spacing--padding-top__xxx-large">
        <div class="wrapper__inner">
          <div class="cols-2-spec wrapper  spacing--padding-bottom__xxx-large">
            <div class="cols-2-spec__1">
              <img src="/images/uploads/careers/team.jpg" alt="Blue Zinc Christmas Time" />
            </div><!--
            --><div class="cols-2-spec__1 display__inline__middle">
              <h2 class="font--family__primary color__secondary font--h2__medium">Work with us and thrive in a challenging, fast-moving and exciting workplace.</h2>
              <p class="color__tertiary font--family__primary font--copy__medium">TM3 is a product by <a href="http://www.blue-zinc.com/" class="basic-content">Blue Zinc IT</a>. We’re continually looking for new talent so if you think you’d be a great fit for our team please visit the Blue Zinc website and find out more about our career opportunities.</p>
            </div>
          </div>
        </div>
    </div>
