<div class="wrapper background__white spacing--padding-top__x-large wrapper__border-top">
        <div class="wrapper__inner  ">
          <footer class="">
            <div class="cols-6"><!--
              --><div class="cols-6__1">
                <h5 class="font--family__tertiary color__secondary font--extra__medium spacing--padding-bottom__small">Product</h5>
                <a href="/why-tm3" title="Why practitioners chose TM3" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Why TM3</a>
                <a href="/tour" title="A list of TM3 features" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Tour</a>
                <a href="/success-stories" title="A list of TM3 case studies" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Success Stories</a>
                <a href="/pricing" title="TM3 pricing" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Pricing</a>
                <a href="/book-a-demo" title="Book a demo of TM3" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Book a demo</a>
              </div><!--
              --><div class="cols-6__1">
                <h5 class="font--family__tertiary color__secondary font--extra__medium spacing--padding-bottom__small">Customer</h5>
                <a href="/client-support" title="Get TM3 support" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Client Support</a>
                <a href="/learning" title="Find out everything about TM3" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Learning</a>
                <a href="/contact-us" title="Get in contact with us" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Contact Us</a>
              </div><!--
              --><div class="cols-6__1">
                <h5 class="font--family__tertiary color__secondary font--extra__medium spacing--padding-bottom__small">About Us</h5>
                <a href="/about-us/our-story" title="Find out how we started" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Our Story</a>
                {{ if eq .Site.LanguageCode "en-GB" }}
                <a href="/about-us/meet-the-team" title="Meet the team behind TM3" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Meet the Teams</a>
                {{ end }}
                <a href="/about-us/work-with-us" title="Get a job at TM3" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Careers</a>
                <a href="/learning/inside-tm3-blog" title="TM3's blog will inform you of the latest news and current events" class="display__block color__tertiary font--family__primary font--extra__small link__underline--hover">Inside TM3 Blog</a>
              </div><!--
              --><div class="cols-6__1">
                <h5 class="font--family__tertiary color__secondary font--extra__medium spacing--padding-bottom__small">Stay Connected</h5>
                {{ if eq .Site.LanguageCode "en-GB" }}

                <a href="https://www.facebook.com/tm3pm" title="TM3 Facebook" class="icon__footer icon__footer--facebook">Facebook</a>
                <a href="https://twitter.com/tm3pm" title="TM3 Twitter" class="icon__footer icon__footer--twitter">Twitter</a>
                <a href="https://www.linkedin.com/company/2592066?trk=tyah&trkInfo=tas%3Atm2%20creat%2Cidx%3A1-1-1" title="TM3 LinkedIn" class="icon__footer icon__footer--linkedin">LinkedIn</a>
                <a href="https://vimeo.com/user23183270" title="TM3 Vimeo" class="icon__footer icon__footer--youtube">Vimeo</a>

                {{ else }}

                <a href="https://www.facebook.com/collabglobal" title="TM3 Facebook" class="icon__footer icon__footer--facebook">Facebook</a>
                <a href="https://twitter.com/collabglobalAU" title="TM3 Twitter" class="icon__footer icon__footer--twitter">Twitter</a>
                <a href="https://www.linkedin.com/company/collabglobal/" title="TM3 LinkedIn" class="icon__footer icon__footer--linkedin">LinkedIn</a>
                <a href="https://vimeo.com/user23183270" title="TM3 Vimeo" class="icon__footer icon__footer--youtube">Vimeo</a>

                {{ end }}

              </div><!--
              --><div class="cols-6__2">
                <h5 class="font--family__tertiary color__secondary font--extra__medium spacing--padding-bottom__small">From Inside TM3 Blog</h5>
                {{ range  first 2 ( where  .Site.Pages "Section" "blog" ) }}<div class="spacing--padding-bottom__small">
                  <a href="/{{ .URL }}" title="" class="color__primary font--family__tertiary font--extra__medium display__block">{{ .Title }}</a>
                  <span class="color__tertiary font--family__primary font--extra__small">Posted {{ .Date.Format "2 January 2006" }}</span>
                </div>{{ end }}
              </div><!--
            --></div>

            <div class="cols-1 nav-footer">
              <p class="color__secondary font--family__tertiary font--extra__medium">Need help? Call<a href="{{ i18n "tel" | safeURL }}" class="color__secondary font--family__tertiary ">{{ i18n "phone" }}</a>

                {{ if eq .Site.LanguageCode "en-GB" }}
                  <a href="/" class="color__primary font--family__tertiary font--extra__medium link__underline__primary__thick--always">UK Website</a>
                  <a href={{"https://tm3.com.au" | absURL }} class="color__secondary font--family__tertiary font--extra__medium link__underline__secondary__thick--hover">Australia Website</a>
                {{ else }}
                  <a href="/" class="color__primary font--family__tertiary font--extra__medium link__underline__primary__thick--always">Australia Website</a>
                  <a href={{"https://www.tm3practicemanagement.com" | absURL }} class="color__secondary font--family__tertiary font--extra__medium link__underline__secondary__thick--hover" id="uklink">UK Website</a>
                  <a href={{"http://www.insidetm2.com.au" | absURL }} class="color__secondary font--family__tertiary font--extra__medium link__underline__secondary__thick--hover" id="uklink">TM2 Australia</a>
                {{ end }}

              </p>
            </div>

            <div class="cols-1 wrapper__border-top nav-footer">
              <p class="color__quinary font--family__secondary font--extra__small">Copyright Blue Zinc IT Ltd. 2018 <a href="http://www.blue-zinc.com/" title="" class="link__underline--hover color__quinary">www.blue-zinc.com</a> <a href="/information/terms/" title="" class="link__underline--hover color__quinary">Terms &amp; Conditions</a> <a href="/information/policy/" title="" class="link__underline--hover color__quinary">Privacy &amp; Cookie Policy</a>
              </p>
            </div>
          </footer>
        </div>
    </div>
  </div>
