{{ "<!--[if lt IE 9]>" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}

<script type="text/javascript">var switchTo5x=true;</script>
<script async type="text/javascript" src="/js/button-min.js"></script>
<script type="text/javascript">stLight.options({publisher: "7b38ab1b-7733-4a22-94c2-7ee360a24302", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<link rel="stylesheet" href="{{ "/css/main.css" | absURL }}">
