<form id="demo-form"  class="hide-me form__sidebar font--extra__medium spacing--padding-top__medium">
    <div class="spacing--padding-bottom__medium">
      <label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Full Name</label>
      <input id="full-name" type="text" name="Name" placeholder="Your First and Last Name" required/>
    </div>
    <div class="spacing--padding-bottom__medium">
      <label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Practice Name</label>
      <input id="practice-name" type="text" name="Practice Name" placeholder="Your Practice's Name" required/>
    </div>
    <div class="spacing--padding-bottom__medium">
      <label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Email Address</label>
      <input id="email-address" type="email" name="Email" placeholder="Your Email Address" required/>
    </div>
    <div class="spacing--padding-bottom__medium">
      <label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Phone Number</label>
      <input id="phone-number" type="text" name="Phone Number" placeholder="Your Phone Number" required/>
    </div>
    <div class="spacing--padding-bottom__medium">
      <label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">Where did you hear about us?</label>
      <span id="training-type" class="select">
        <select>
          <option disabled selected>Select Option</option>
          <option>Google</option>
          <option>Email</option>
          <option>Magazine Advertisement</option>
          <option>Social Media</option>
          <option>Friend</option>
          <option>Conference</option>
          <option>TM2 User</option>
        </select>
      </span>
    </div>
    <div class="spacing--padding-bottom__medium">
      <label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small">How many practitoners does your clinic have?</label>
      <span id="practitioners-amount" class="select">
        <select>
          <option disabled selected>Select Option</option>
          <option>1</option>
          <option>2-5</option>
          <option>6-19</option>
          <option>20+</option>
        </select>
      </span>
    </div>
    <div class="cols-1 spacing--padding-bottom__medium text-left">
      <label class="font--family__secondary color__secondary font--extra__medium  spacing--padding-bottom__small" >Let us know how we can help</label>
      <textarea id="message-content" placeholder="Your message here" name="Message" required></textarea>
    </div>
    <div class="">
      <input id="submit-demo-button" type="submit" class="font--extra__small btn btn__primary" value="BOOK A DEMO" />
    </div>

  </form>
